section.reviews 
        .containers 
            .reviews__title Отзывы покупателей
            .reviews__sliders 
                .swiper.ReviewsSlider
                    .swiper-wrapper
                        .swiper-slide 
                            .reviews__sliders-items 
                                .reviews__sliders-client 
                                    .reviews__sliders-client-name Людмила
                                    .reviews__sliders-client-star 
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.69533 0.452219L4.86449 3.81352L0.768236 4.35428C0.0336581 4.45075 -0.260734 5.27076 0.271975 5.74043L3.23552 8.35534L2.53459 12.0492C2.40842 12.7169 3.18505 13.217 3.83552 12.9048L7.5 11.1607L11.1645 12.9048C11.8149 13.2145 12.5916 12.7169 12.4654 12.0492L11.7645 8.35534L14.728 5.74043C15.2607 5.27076 14.9663 4.45075 14.2318 4.35428L10.1355 3.81352L8.30467 0.452219C7.97664 -0.146926 7.02617 -0.154542 6.69533 0.452219Z" fill="#E7E7E7"/>
                                        </svg>
                                    .reviews__sliders-client-number Договор 178906
                                .reviews__sliders-text
                                    p Декор межкомнатной двери может быть различным. Например, за счет ламинирования под любую породу дерева можно с легкостью изменить цвет и фактурность. Украсить дверь можно с помощью фьюзингов — это специальная технология спекания стекла, фальш-накладки или внутренней раскладки, которая устанавливается в стеклопакет. Кроме этого, в качестве украшения можно использовать витражи.
                        .swiper-slide 
                            .reviews__sliders-items 
                                .reviews__sliders-client 
                                    .reviews__sliders-client-name Людмила
                                    .reviews__sliders-client-star 
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.69533 0.452219L4.86449 3.81352L0.768236 4.35428C0.0336581 4.45075 -0.260734 5.27076 0.271975 5.74043L3.23552 8.35534L2.53459 12.0492C2.40842 12.7169 3.18505 13.217 3.83552 12.9048L7.5 11.1607L11.1645 12.9048C11.8149 13.2145 12.5916 12.7169 12.4654 12.0492L11.7645 8.35534L14.728 5.74043C15.2607 5.27076 14.9663 4.45075 14.2318 4.35428L10.1355 3.81352L8.30467 0.452219C7.97664 -0.146926 7.02617 -0.154542 6.69533 0.452219Z" fill="#E7E7E7"/>
                                        </svg>
                                    .reviews__sliders-client-number Договор 178906
                                .reviews__sliders-text
                                    p 2Декор межкомнатной двери может быть различным. Например, за счет ламинирования под любую породу дерева можно с легкостью изменить цвет и фактурность. Украсить дверь можно с помощью фьюзингов — это специальная технология спекания стекла, фальш-накладки или внутренней раскладки, которая устанавливается в стеклопакет. Кроме этого, в качестве украшения можно использовать витражи.
                        .swiper-slide 
                            .reviews__sliders-items 
                                .reviews__sliders-client 
                                    .reviews__sliders-client-name Людмила
                                    .reviews__sliders-client-star 
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.69533 0.452219L4.86449 3.81352L0.768236 4.35428C0.0336581 4.45075 -0.260734 5.27076 0.271975 5.74043L3.23552 8.35534L2.53459 12.0492C2.40842 12.7169 3.18505 13.217 3.83552 12.9048L7.5 11.1607L11.1645 12.9048C11.8149 13.2145 12.5916 12.7169 12.4654 12.0492L11.7645 8.35534L14.728 5.74043C15.2607 5.27076 14.9663 4.45075 14.2318 4.35428L10.1355 3.81352L8.30467 0.452219C7.97664 -0.146926 7.02617 -0.154542 6.69533 0.452219Z" fill="#E7E7E7"/>
                                        </svg>
                                    .reviews__sliders-client-number Договор 178906
                                .reviews__sliders-text
                                    p 3Декор межкомнатной двери может быть различным. Например, за счет ламинирования под любую породу дерева можно с легкостью изменить цвет и фактурность. Украсить дверь можно с помощью фьюзингов — это специальная технология спекания стекла, фальш-накладки или внутренней раскладки, которая устанавливается в стеклопакет. Кроме этого, в качестве украшения можно использовать витражи.
                        
                .swiper-controls 
                    .swiper-button-next
                        .swiper-button-next-arrow 
                            <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M35.0607 10.9393C35.6464 11.5251 35.6464 12.4749 35.0607 13.0607L25.5147 22.6066C24.9289 23.1924 23.9792 23.1924 23.3934 22.6066C22.8076 22.0208 22.8076 21.0711 23.3934 20.4853L31.8787 12L23.3934 3.51472C22.8076 2.92893 22.8076 1.97919 23.3934 1.3934C23.9792 0.807611 24.9289 0.807611 25.5147 1.3934L35.0607 10.9393ZM0 10.5L34 10.5V13.5L0 13.5L0 10.5Z" fill="#1390F0"/>
                            </svg>
                    .swiper-button-prev
                        .swiper-button-next-arrow 
                            <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.939339 10.9393C0.353554 11.5251 0.353554 12.4749 0.939339 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.939339 10.9393ZM36 10.5L2 10.5V13.5L36 13.5V10.5Z" fill="#1390F0"/>
                            </svg>

            button.reviews__btn
                p Оставить отзыв