@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.balcony-banner 
        .balcony-banner__block 
            .balcony-banner__block-content 
                .balcony-banner__block-content-title Тёплое остекление балконов и лоджий
                ul.balcony-banner__block-content-list
                    li.balcony-banner__block-content-items 
                        p защита от сквозняков;
                    li.balcony-banner__block-content-items 
                        p высокий уровень шумоизоляции;
                    li.balcony-banner__block-content-items 
                        p увеличение полезной «теплой» площади;
                    li.balcony-banner__block-content-items 
                        p элегантность и уют помещения
                .balcony-banner__block-content-price от 2 545 ₽/м²
                .balcony-banner__block-content-phone 
                    .balcony-banner__block-content-input 
                        input(type="tel" id="balconyBannerPhone" placeholder="+7 (999) 99 99 999") 
                        label(for="balconyBannerPhone") Ваш телефон
                    button.balcony-banner__block-content-btn
                        p Заказать
            .balcony-banner__block-photo 

    section.balcony-text 
        .containers 
            .balcony-text__wrapper 
                p Балкон и лоджия - не только ненужные квадратные метры, где сложены забытые вещи. При правильном подходе можно оборудовать здесь детскую комнату или комфортную зону для чтения книг и журналов, лундж-зону, домашний кинотеатр или помещение для выращивания цветов с комфортной температурой круглый год. Белые или ламинированые, ПВХ окна подчеркнут красоту и дизайнерское интерьерное решение. При этом срок изготовление составит всего 5 дней, а цена на цветные изделия не будет отличаться от стоимости белых окон. Кстати, остекление можно использовать и в качестве щита от грязи, пыли, снега, дождя и шума – последнее особенно актуально в Москве вблизи дорог и автомагистралей. Окна справятся с жарой и холодом за счет правильно подобранного стеклопакета.

    section.balcony-table 
        .containers 
            .balcony-table__title Когда лучше выбрать остекление теплым ПВХ?
            .balcony-table__list
                .balcony-table__list-items 
                    .balcony-table__list-icons 
                        <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.72705 0.693848V30.1836H35.6361V0.693848H4.72705ZM18.5452 27.4081H7.63614V3.46936H18.5452V27.4081ZM32.727 27.4081H21.818V3.46936H32.727V27.4081Z" fill="#FF7678"/>
                            <path d="M35.8182 30.5306C35.5273 30.5306 35.2727 30.2878 35.2727 30.0102V1.04082H5.09091V28.6224C5.09091 28.9 4.83636 29.1429 4.54545 29.1429C4.25455 29.1429 4 28.9 4 28.6224V0.520408C4 0.242857 4.25455 0 4.54545 0H35.8182C36.1091 0 36.3636 0.242857 36.3636 0.520408V30.0102C36.3636 30.2878 36.1091 30.5306 35.8182 30.5306Z" fill="#1C2947"/>
                            <path d="M32.909 28.102H21.6363C21.3454 28.102 21.0908 27.8592 21.0908 27.5816V16.4796C21.0908 16.202 21.3454 15.9592 21.6363 15.9592C21.9272 15.9592 22.1817 16.202 22.1817 16.4796V27.0612H32.3635V3.81633H22.1817V14.398C22.1817 14.6755 21.9272 14.9184 21.6363 14.9184C21.3454 14.9184 21.0908 14.6755 21.0908 14.398V3.29592C21.0908 3.01837 21.3454 2.77551 21.6363 2.77551H32.909C33.1999 2.77551 33.4545 3.01837 33.4545 3.29592V27.5816C33.4545 27.8592 33.1999 28.102 32.909 28.102Z" fill="#1C2947"/>
                            <path d="M18.7274 28.102H7.45463C7.16373 28.102 6.90918 27.8592 6.90918 27.5816V3.29592C6.90918 3.01837 7.16373 2.77551 7.45463 2.77551H18.7274C19.0183 2.77551 19.2728 3.01837 19.2728 3.29592V27.5816C19.2728 27.8592 19.0183 28.102 18.7274 28.102ZM8.00009 27.0612H18.1819V3.81633H8.00009V27.0612Z" fill="#1C2947"/>
                            <path d="M23.0909 15.2653H20.5455C20.2545 15.2653 20 15.0224 20 14.7449C20 14.4673 20.2545 14.2245 20.5455 14.2245H23.0909C23.3818 14.2245 23.6364 14.4673 23.6364 14.7449C23.6364 15.0224 23.3818 15.2653 23.0909 15.2653Z" fill="#1C2947"/>
                            <path d="M39.4545 34.0001H8.18182C7.89091 34.0001 7.63636 33.7572 7.63636 33.4797C7.63636 33.2021 7.89091 32.9592 8.18182 32.9592H38.9091V30.8776H1.09091V32.9592H5.63636C5.92727 32.9592 6.18182 33.2021 6.18182 33.4797C6.18182 33.7572 5.92727 34.0001 5.63636 34.0001H0.545455C0.254545 34.0001 0 33.7572 0 33.4797V30.3572C0 30.0796 0.254545 29.8368 0.545455 29.8368H39.4545C39.7455 29.8368 40 30.0796 40 30.3572V33.4797C40 33.7572 39.7455 34.0001 39.4545 34.0001Z" fill="#1C2947"/>
                            <path d="M10.3634 15.2655C10.218 15.2655 10.0725 15.2308 9.96344 15.1267C9.74526 14.9185 9.74526 14.6063 9.96344 14.3981L14.6907 9.88793C14.9089 9.67977 15.2362 9.67977 15.4544 9.88793C15.6725 10.0961 15.6725 10.4083 15.4544 10.6165L10.7271 15.1267C10.6544 15.2308 10.5089 15.2655 10.3634 15.2655Z" fill="#8BD9F2"/>
                            <path d="M13.091 16.8266C12.9455 16.8266 12.8001 16.7919 12.691 16.6879C12.4728 16.4797 12.4728 16.1675 12.691 15.9593L14.3273 14.3981C14.5455 14.1899 14.8728 14.1899 15.091 14.3981C15.3092 14.6062 15.3092 14.9185 15.091 15.1266L13.4546 16.6879C13.3819 16.7919 13.2364 16.8266 13.091 16.8266Z" fill="#8BD9F2"/>
                            <path d="M25.2726 18.7348C25.1272 18.7348 24.9817 18.7001 24.8726 18.5961C24.6544 18.3879 24.6544 18.0757 24.8726 17.8675L29.5999 13.3573C29.8181 13.1491 30.1454 13.1491 30.3635 13.3573C30.5817 13.5655 30.5817 13.8777 30.3635 14.0859L25.6363 18.5961C25.5635 18.7001 25.4181 18.7348 25.2726 18.7348Z" fill="#8BD9F2"/>
                            <path d="M28.0002 20.2961C27.8547 20.2961 27.7093 20.2614 27.6002 20.1574C27.382 19.9492 27.382 19.6369 27.6002 19.4288L29.2365 17.8675C29.4547 17.6594 29.782 17.6594 30.0002 17.8675C30.2183 18.0757 30.2183 18.388 30.0002 18.5961L28.3638 20.1574C28.2911 20.2614 28.1456 20.2961 28.0002 20.2961Z" fill="#8BD9F2"/>
                        </svg>
                    .balcony-table__list-title Расширение пространства
                    .balcony-table__list-text 
                        p Балкон или лоджия станут продолжением любого жилого помещения
                .balcony-table__list-items 
                    .balcony-table__list-icons 
                        <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.72705 0.693848V30.1836H35.6361V0.693848H4.72705ZM18.5452 27.4081H7.63614V3.46936H18.5452V27.4081ZM32.727 27.4081H21.818V3.46936H32.727V27.4081Z" fill="#FF7678"/>
                            <path d="M35.8182 30.5306C35.5273 30.5306 35.2727 30.2878 35.2727 30.0102V1.04082H5.09091V28.6224C5.09091 28.9 4.83636 29.1429 4.54545 29.1429C4.25455 29.1429 4 28.9 4 28.6224V0.520408C4 0.242857 4.25455 0 4.54545 0H35.8182C36.1091 0 36.3636 0.242857 36.3636 0.520408V30.0102C36.3636 30.2878 36.1091 30.5306 35.8182 30.5306Z" fill="#1C2947"/>
                            <path d="M32.909 28.102H21.6363C21.3454 28.102 21.0908 27.8592 21.0908 27.5816V16.4796C21.0908 16.202 21.3454 15.9592 21.6363 15.9592C21.9272 15.9592 22.1817 16.202 22.1817 16.4796V27.0612H32.3635V3.81633H22.1817V14.398C22.1817 14.6755 21.9272 14.9184 21.6363 14.9184C21.3454 14.9184 21.0908 14.6755 21.0908 14.398V3.29592C21.0908 3.01837 21.3454 2.77551 21.6363 2.77551H32.909C33.1999 2.77551 33.4545 3.01837 33.4545 3.29592V27.5816C33.4545 27.8592 33.1999 28.102 32.909 28.102Z" fill="#1C2947"/>
                            <path d="M18.7274 28.102H7.45463C7.16373 28.102 6.90918 27.8592 6.90918 27.5816V3.29592C6.90918 3.01837 7.16373 2.77551 7.45463 2.77551H18.7274C19.0183 2.77551 19.2728 3.01837 19.2728 3.29592V27.5816C19.2728 27.8592 19.0183 28.102 18.7274 28.102ZM8.00009 27.0612H18.1819V3.81633H8.00009V27.0612Z" fill="#1C2947"/>
                            <path d="M23.0909 15.2653H20.5455C20.2545 15.2653 20 15.0224 20 14.7449C20 14.4673 20.2545 14.2245 20.5455 14.2245H23.0909C23.3818 14.2245 23.6364 14.4673 23.6364 14.7449C23.6364 15.0224 23.3818 15.2653 23.0909 15.2653Z" fill="#1C2947"/>
                            <path d="M39.4545 34.0001H8.18182C7.89091 34.0001 7.63636 33.7572 7.63636 33.4797C7.63636 33.2021 7.89091 32.9592 8.18182 32.9592H38.9091V30.8776H1.09091V32.9592H5.63636C5.92727 32.9592 6.18182 33.2021 6.18182 33.4797C6.18182 33.7572 5.92727 34.0001 5.63636 34.0001H0.545455C0.254545 34.0001 0 33.7572 0 33.4797V30.3572C0 30.0796 0.254545 29.8368 0.545455 29.8368H39.4545C39.7455 29.8368 40 30.0796 40 30.3572V33.4797C40 33.7572 39.7455 34.0001 39.4545 34.0001Z" fill="#1C2947"/>
                            <path d="M10.3634 15.2655C10.218 15.2655 10.0725 15.2308 9.96344 15.1267C9.74526 14.9185 9.74526 14.6063 9.96344 14.3981L14.6907 9.88793C14.9089 9.67977 15.2362 9.67977 15.4544 9.88793C15.6725 10.0961 15.6725 10.4083 15.4544 10.6165L10.7271 15.1267C10.6544 15.2308 10.5089 15.2655 10.3634 15.2655Z" fill="#8BD9F2"/>
                            <path d="M13.091 16.8266C12.9455 16.8266 12.8001 16.7919 12.691 16.6879C12.4728 16.4797 12.4728 16.1675 12.691 15.9593L14.3273 14.3981C14.5455 14.1899 14.8728 14.1899 15.091 14.3981C15.3092 14.6062 15.3092 14.9185 15.091 15.1266L13.4546 16.6879C13.3819 16.7919 13.2364 16.8266 13.091 16.8266Z" fill="#8BD9F2"/>
                            <path d="M25.2726 18.7348C25.1272 18.7348 24.9817 18.7001 24.8726 18.5961C24.6544 18.3879 24.6544 18.0757 24.8726 17.8675L29.5999 13.3573C29.8181 13.1491 30.1454 13.1491 30.3635 13.3573C30.5817 13.5655 30.5817 13.8777 30.3635 14.0859L25.6363 18.5961C25.5635 18.7001 25.4181 18.7348 25.2726 18.7348Z" fill="#8BD9F2"/>
                            <path d="M28.0002 20.2961C27.8547 20.2961 27.7093 20.2614 27.6002 20.1574C27.382 19.9492 27.382 19.6369 27.6002 19.4288L29.2365 17.8675C29.4547 17.6594 29.782 17.6594 30.0002 17.8675C30.2183 18.0757 30.2183 18.388 30.0002 18.5961L28.3638 20.1574C28.2911 20.2614 28.1456 20.2961 28.0002 20.2961Z" fill="#8BD9F2"/>
                        </svg>
                    .balcony-table__list-title Экономия тепла
                    .balcony-table__list-text 
                        p Температура не будет отличаться от комнаты или кухни
                .balcony-table__list-items 
                    .balcony-table__list-icons 
                        <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.72705 0.693848V30.1836H35.6361V0.693848H4.72705ZM18.5452 27.4081H7.63614V3.46936H18.5452V27.4081ZM32.727 27.4081H21.818V3.46936H32.727V27.4081Z" fill="#FF7678"/>
                            <path d="M35.8182 30.5306C35.5273 30.5306 35.2727 30.2878 35.2727 30.0102V1.04082H5.09091V28.6224C5.09091 28.9 4.83636 29.1429 4.54545 29.1429C4.25455 29.1429 4 28.9 4 28.6224V0.520408C4 0.242857 4.25455 0 4.54545 0H35.8182C36.1091 0 36.3636 0.242857 36.3636 0.520408V30.0102C36.3636 30.2878 36.1091 30.5306 35.8182 30.5306Z" fill="#1C2947"/>
                            <path d="M32.909 28.102H21.6363C21.3454 28.102 21.0908 27.8592 21.0908 27.5816V16.4796C21.0908 16.202 21.3454 15.9592 21.6363 15.9592C21.9272 15.9592 22.1817 16.202 22.1817 16.4796V27.0612H32.3635V3.81633H22.1817V14.398C22.1817 14.6755 21.9272 14.9184 21.6363 14.9184C21.3454 14.9184 21.0908 14.6755 21.0908 14.398V3.29592C21.0908 3.01837 21.3454 2.77551 21.6363 2.77551H32.909C33.1999 2.77551 33.4545 3.01837 33.4545 3.29592V27.5816C33.4545 27.8592 33.1999 28.102 32.909 28.102Z" fill="#1C2947"/>
                            <path d="M18.7274 28.102H7.45463C7.16373 28.102 6.90918 27.8592 6.90918 27.5816V3.29592C6.90918 3.01837 7.16373 2.77551 7.45463 2.77551H18.7274C19.0183 2.77551 19.2728 3.01837 19.2728 3.29592V27.5816C19.2728 27.8592 19.0183 28.102 18.7274 28.102ZM8.00009 27.0612H18.1819V3.81633H8.00009V27.0612Z" fill="#1C2947"/>
                            <path d="M23.0909 15.2653H20.5455C20.2545 15.2653 20 15.0224 20 14.7449C20 14.4673 20.2545 14.2245 20.5455 14.2245H23.0909C23.3818 14.2245 23.6364 14.4673 23.6364 14.7449C23.6364 15.0224 23.3818 15.2653 23.0909 15.2653Z" fill="#1C2947"/>
                            <path d="M39.4545 34.0001H8.18182C7.89091 34.0001 7.63636 33.7572 7.63636 33.4797C7.63636 33.2021 7.89091 32.9592 8.18182 32.9592H38.9091V30.8776H1.09091V32.9592H5.63636C5.92727 32.9592 6.18182 33.2021 6.18182 33.4797C6.18182 33.7572 5.92727 34.0001 5.63636 34.0001H0.545455C0.254545 34.0001 0 33.7572 0 33.4797V30.3572C0 30.0796 0.254545 29.8368 0.545455 29.8368H39.4545C39.7455 29.8368 40 30.0796 40 30.3572V33.4797C40 33.7572 39.7455 34.0001 39.4545 34.0001Z" fill="#1C2947"/>
                            <path d="M10.3634 15.2655C10.218 15.2655 10.0725 15.2308 9.96344 15.1267C9.74526 14.9185 9.74526 14.6063 9.96344 14.3981L14.6907 9.88793C14.9089 9.67977 15.2362 9.67977 15.4544 9.88793C15.6725 10.0961 15.6725 10.4083 15.4544 10.6165L10.7271 15.1267C10.6544 15.2308 10.5089 15.2655 10.3634 15.2655Z" fill="#8BD9F2"/>
                            <path d="M13.091 16.8266C12.9455 16.8266 12.8001 16.7919 12.691 16.6879C12.4728 16.4797 12.4728 16.1675 12.691 15.9593L14.3273 14.3981C14.5455 14.1899 14.8728 14.1899 15.091 14.3981C15.3092 14.6062 15.3092 14.9185 15.091 15.1266L13.4546 16.6879C13.3819 16.7919 13.2364 16.8266 13.091 16.8266Z" fill="#8BD9F2"/>
                            <path d="M25.2726 18.7348C25.1272 18.7348 24.9817 18.7001 24.8726 18.5961C24.6544 18.3879 24.6544 18.0757 24.8726 17.8675L29.5999 13.3573C29.8181 13.1491 30.1454 13.1491 30.3635 13.3573C30.5817 13.5655 30.5817 13.8777 30.3635 14.0859L25.6363 18.5961C25.5635 18.7001 25.4181 18.7348 25.2726 18.7348Z" fill="#8BD9F2"/>
                            <path d="M28.0002 20.2961C27.8547 20.2961 27.7093 20.2614 27.6002 20.1574C27.382 19.9492 27.382 19.6369 27.6002 19.4288L29.2365 17.8675C29.4547 17.6594 29.782 17.6594 30.0002 17.8675C30.2183 18.0757 30.2183 18.388 30.0002 18.5961L28.3638 20.1574C28.2911 20.2614 28.1456 20.2961 28.0002 20.2961Z" fill="#8BD9F2"/>
                        </svg>
                    .balcony-table__list-title Сохранение тишины
                    .balcony-table__list-text 
                        p Уличный шум больше не побеспокоит, ПВХ профиль и стеклопакет позаботятся об этом с самого начала

    section.balcony-tab 
        .containers 
            .balcony-tab__title Цены на теплое остекление лоджий
            .balcony-tab__tabs 
                .balcony-tab__tabs-items.balcony-tab__tabs-items-active#balconyTabsItems-1
                    p Melke lite 60
                .balcony-tab__tabs-items#balconyTabsItems-2
                    p Melke lite 70
            .balcony-tab__list 
                .balcony-tab__list-items 
                    .balcony-tab__list-items-photo 
                        img(src="./img/balcony/balcony-1.png", alt="img")
                    .balcony-tab__list-items-title Прямая
                    .balcony-tab__list-items-prev от 29 778 ₽
                    .balcony-tab__list-items-price 25 172 ₽/окно*
                    .balcony-tab__list-items-text +66 400 ₽ за отделку и утепление
                    button.balcony-tab__list-items-btn 
                        p Заказать
                .balcony-tab__list-items 
                    .balcony-tab__list-items-photo 
                        img(src="./img/balcony/balcony-2.png", alt="img")
                    .balcony-tab__list-items-title П-образная
                    .balcony-tab__list-items-prev от 56 907 ₽
                    .balcony-tab__list-items-price 48 230 ₽/окно*
                    .balcony-tab__list-items-text +47 700 ₽ за отделку и утепление
                    button.balcony-tab__list-items-btn 
                        p Заказать
                .balcony-tab__list-items 
                    .balcony-tab__list-items-photo 
                        img(src="./img/balcony/balcony-3.png", alt="img")
                    .balcony-tab__list-items-title Зиг-заг
                    .balcony-tab__list-items-prev от 57 492 ₽
                    .balcony-tab__list-items-price 48 888 ₽/окно*
                    .balcony-tab__list-items-text +106 700 ₽ за отделку и утепление
                    button.balcony-tab__list-items-btn 
                        p Заказать

    section.balcony-square 
        .containers 
            .balcony-square__title +7% к площади квартиры после тёплого остекления
            ul.balcony-square__list 
                li.balcony-square__list-items 
                    .balcony-square__list-icons 
                    .balcony-square__list-text 
                        p Для большего комфорта советуем устанавливать радиаторы отопления или монтировать теплый пол;
                li.balcony-square__list-items 
                    .balcony-square__list-icons 
                    .balcony-square__list-text 
                        p Подходит для объединения комнаты и балкона или кухни и балкона
                li.balcony-square__list-items 
                    .balcony-square__list-icons 
                    .balcony-square__list-text 
                        p Работаем с 2002 года. Более 2800 выполненных объектов. Качество гарантируем
                li.balcony-square__list-items 
                    .balcony-square__list-icons 
                    .balcony-square__list-text 
                        p Позволяет создать дополнительные зоны для отдыха или работы

    section.balcony-project 
        .containers 
            .balcony-project__title Проекты которыми мы гордимся
            ul.balcony-project__list 
                li.balcony-project__list-items 
                li.balcony-project__list-items 
                li.balcony-project__list-items 
                li.balcony-project__list-items 
            .balcony-project__block 
                .balcony-project__block-info 
                    .balcony-project__block-info-title Балкон в Эко стиле
                    .balcony-project__block-info-text 
                        p Балкон и лоджия - не только ненужные квадратные метры, где сложены забытые вещи. При правильном подходе можно оборудовать здесь детскую комнату или комфортную зону для чтения книг и журналов, лундж-зону, домашний кинотеатр или помещение для выращивания цветов с комфортной температурой круглый год. Белые или ламинированые, ПВХ окна подчеркнут красоту и дизайнерское интерьерное решение. При этом срок изготовление составит всего 5 дней, а цена на цветные изделия не будет отличаться от стоимости белых окон. 
                    ul.balcony-project__block-info-list 
                        li.balcony-project__block-info-items 
                            h3 Остекление Melke art
                            p от 29 778 ₽
                        li.balcony-project__block-info-items 
                            h3 Отделка ПВХ
                            p от 29 778 ₽
                        li.balcony-project__block-info-items 
                            h3 Утепление
                            p от 29 778 ₽
                .balcony-project__block-line 
                .balcony-project__block-comment 
                    .balcony-project__block-comment-name Евгений
                    .balcony-project__block-comment-star 
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.24897 0.452219L4.54019 3.81352L0.717021 4.35428C0.0314143 4.45075 -0.243352 5.27076 0.253844 5.74043L3.01982 8.35534L2.36562 12.0492C2.24786 12.7169 2.97272 13.217 3.57982 12.9048L7 11.1607L10.4202 12.9048C11.0273 13.2145 11.7521 12.7169 11.6344 12.0492L10.9802 8.35534L13.7462 5.74043C14.2434 5.27076 13.9686 4.45075 13.283 4.35428L9.45981 3.81352L7.75103 0.452219C7.44486 -0.146926 6.55776 -0.154542 6.24897 0.452219Z" fill="#FF7A00"/>
                        </svg>
                        <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.69533 0.452219L4.86449 3.81352L0.768236 4.35428C0.0336581 4.45075 -0.260734 5.27076 0.271975 5.74043L3.23552 8.35534L2.53459 12.0492C2.40842 12.7169 3.18505 13.217 3.83552 12.9048L7.5 11.1607L11.1645 12.9048C11.8149 13.2145 12.5916 12.7169 12.4654 12.0492L11.7645 8.35534L14.728 5.74043C15.2607 5.27076 14.9663 4.45075 14.2318 4.35428L10.1355 3.81352L8.30467 0.452219C7.97664 -0.146926 7.02617 -0.154542 6.69533 0.452219Z" fill="#E7E7E7"/>
                        </svg>
                    .balcony-project__block-comment-text
                        p Балкон и лоджия - не только ненужные квадратные метры, где сложены забытые вещи. При правильном подходе можно оборудовать здесь детскую комнату или комфортную зону для чтения книг и журналов, лундж-зону, домашний кинотеатр или помещение для выращивания цветов

    section.balcony-form 
        .balcony-form__block 
            .balcony-form__block-title Сделайте первый шаг, — отправьте заявку на просчёт
            .balcony-form__block-phone 
                input(type="text" id="balconyFormsPhone" placeholder="+7 (999) 99 99 999")
                label(for="balconyFormsPhone") Ваш номер телефона
            .balcony-form__block-text 
                textarea(id="balconyFormsText" value="")
                label(for="balconyFormsText") Ваш комментарий
            button.balcony-form__block-btn 
                p Отправить

    section.balcony-pay 
        .containers 
            .balcony-pay__title Варианты оплаты
            ul.balcony-pay__list
                li.balcony-pay__list-items  
                    .balcony-pay__list-items-icons 
                        <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M71.2484 35.7729H65.346L62.3624 24.0719C61.9876 22.6016 60.4862 21.7109 59.0164 22.0856L52.2138 23.8202C51.755 23.9371 51.4778 24.404 51.5948 24.8628C51.7118 25.3216 52.1786 25.5985 52.6374 25.4818L59.44 23.7471C59.9944 23.6062 60.5596 23.9417 60.701 24.4956L61.0314 25.7918L16.0777 37.2547L15.7472 35.9585C15.6788 35.6903 15.719 35.4111 15.8603 35.1731C16.0018 34.9349 16.2275 34.7661 16.4958 34.6977L47.4168 26.8129C47.8756 26.696 48.1528 26.2291 48.0358 25.7703C47.9188 25.3115 47.4522 25.0346 46.9932 25.1513L16.0721 33.036C14.6018 33.4109 13.7108 34.9119 14.0856 36.3821L20.4264 61.2483C20.7434 62.4913 21.8652 63.3203 23.093 63.3203C23.3173 63.3203 23.5454 63.2925 23.7725 63.2347L24.1784 63.1311V64.1861C24.1784 65.7033 25.4127 66.9377 26.93 66.9377H71.2484C72.7658 66.9377 74 65.7033 74 64.1861V38.5243C74 37.0071 72.7658 35.7729 71.2484 35.7729ZM24.1785 61.3617L23.349 61.5731C22.795 61.7145 22.2293 61.3785 22.088 60.8247L18.2068 45.6039L24.1785 44.0811V61.3617ZM24.1785 38.5243V42.3117L17.7831 43.9425L16.5015 38.9161L24.7851 36.8037C24.4061 37.2755 24.1785 37.8737 24.1785 38.5243ZM63.5766 35.7727H56.7614L63.1604 34.141L63.5766 35.7727ZM61.4552 27.4531L62.7368 32.4795L49.822 35.7729H28.8284L61.4552 27.4531ZM71.2484 65.2231H26.9301C26.3583 65.2231 25.8931 64.7579 25.8931 64.1861V62.0279V38.5243C25.8931 37.9527 26.3582 37.4875 26.9301 37.4875H71.2484C71.8202 37.4875 72.2854 37.9527 72.2854 38.5243V64.1861C72.2854 64.7579 71.8202 65.2231 71.2484 65.2231Z" fill="#00C7FF"/>
                            <path d="M48.1414 56.8784H29.4609C28.9874 56.8784 28.6035 57.2622 28.6035 57.7358C28.6035 58.2094 28.9874 58.5932 29.4609 58.5932H48.1414C48.615 58.5932 48.9988 58.2094 48.9988 57.7358C48.9988 57.2624 48.615 56.8784 48.1414 56.8784Z" fill="#00C7FF"/>
                            <path d="M62.4284 41.8027C61.197 41.8027 60.0576 42.2001 59.1286 42.8719C58.1716 42.1785 57.0236 41.8027 55.8254 41.8027C52.7132 41.8027 50.1812 44.3345 50.1812 47.4469C50.1814 50.5589 52.7134 53.0909 55.8256 53.0909C57.0236 53.0909 58.1716 52.7151 59.1286 52.0217C60.0576 52.6935 61.1972 53.0909 62.4284 53.0909C65.5406 53.0909 68.0726 50.5589 68.0726 47.4469C68.0726 44.3345 65.5406 41.8027 62.4284 41.8027ZM56.7912 47.7143C56.7922 47.7365 56.7938 47.7583 56.795 47.7803C56.7992 47.8521 56.8046 47.9239 56.8114 47.9951C56.813 48.0119 56.8146 48.0285 56.8164 48.0451C56.9208 49.0477 57.2866 49.9895 57.8832 50.7941C57.2692 51.1731 56.5608 51.3761 55.8256 51.3761C53.6588 51.3761 51.896 49.6135 51.896 47.4467C51.8962 45.2801 53.6588 43.5173 55.8256 43.5173C56.5608 43.5173 57.2692 43.7205 57.8832 44.0993C57.2868 44.9039 56.9208 45.8457 56.8164 46.8483C56.8146 46.8651 56.813 46.8815 56.8114 46.8981C56.8046 46.9695 56.7992 47.0411 56.795 47.1129C56.7938 47.1351 56.7922 47.1569 56.7912 47.1789C56.787 47.2677 56.7844 47.3569 56.7844 47.4467C56.7844 47.5363 56.787 47.6255 56.7912 47.7143ZM62.4286 51.3763C61.3558 51.3763 60.3824 50.9437 59.6726 50.2443C59.658 50.2299 59.6436 50.2153 59.6292 50.2007C59.5966 50.1675 59.564 50.1339 59.5326 50.0993C59.5238 50.0899 59.5152 50.0803 59.5066 50.0707C59.4696 50.0295 59.433 49.9877 59.3978 49.9449C59.3976 49.9447 59.3974 49.9445 59.3972 49.9443C58.8364 49.2647 58.4992 48.3943 58.4992 47.4467C58.499 46.4991 58.8364 45.6285 59.3972 44.9491C59.3974 44.9489 59.3976 44.9487 59.3976 44.9485C59.433 44.9057 59.4698 44.8639 59.5068 44.8225C59.5154 44.8131 59.5238 44.8035 59.5326 44.7941C59.5642 44.7597 59.5966 44.7259 59.6294 44.6925C59.6438 44.6781 59.658 44.6637 59.6726 44.6493C60.3824 43.9499 61.3558 43.5173 62.4286 43.5173C64.5954 43.5173 66.358 45.2801 66.358 47.4469C66.358 49.6135 64.5954 51.3763 62.4286 51.3763Z" fill="#00C7FF"/>
                            <path d="M35.5707 42.3604H31.8107C30.0425 42.3604 28.604 43.7988 28.604 45.567V49.3272C28.6039 51.0954 30.0425 52.5337 31.8107 52.5337H35.5707C37.3389 52.5337 38.7775 51.0954 38.7775 49.3272V45.567C38.7775 43.799 37.3391 42.3604 35.5707 42.3604ZM37.0627 47.9076H35.2337C34.7603 47.9076 34.3763 48.2913 34.3763 48.7649C34.3763 49.2385 34.7601 49.6223 35.2337 49.6223H37.0331C36.8957 50.3041 36.2923 50.8194 35.5707 50.8194H31.8106C31.0888 50.8194 30.4854 50.3041 30.3481 49.6223H32.1475C32.6209 49.6223 33.0049 49.2385 33.0049 48.7649C33.0049 48.2913 32.6211 47.9076 32.1475 47.9076H30.3186V47.1646H32.1475C32.6209 47.1646 33.0049 46.781 33.0049 46.3074C33.0049 45.834 32.6211 45.45 32.1475 45.45H30.3244C30.3844 44.682 31.0273 44.075 31.8106 44.075H35.5707C36.3539 44.075 36.9967 44.682 37.0569 45.45H35.2337C34.7603 45.45 34.3763 45.8338 34.3763 46.3074C34.3763 46.7808 34.7601 47.1646 35.2337 47.1646H37.0627V47.9076Z" fill="#00C7FF"/>
                            <path d="M68.2718 60.6509H38.4204C37.9468 60.6509 37.563 61.0347 37.563 61.5083C37.563 61.9817 37.9468 62.3655 38.4204 62.3655H68.2718C68.7452 62.3655 69.1292 61.9817 69.1292 61.5083C69.1292 61.0347 68.7454 60.6509 68.2718 60.6509Z" fill="#00C7FF"/>
                            <path d="M32.955 60.6509H29.4613C28.9879 60.6509 28.604 61.0347 28.604 61.5083C28.604 61.9817 28.9878 62.3655 29.4613 62.3655H32.955C33.4285 62.3655 33.8124 61.9817 33.8124 61.5083C33.8124 61.0347 33.4285 60.6509 32.955 60.6509Z" fill="#00C7FF"/>
                            <path d="M45 89C69.3005 89 89 69.3005 89 45C89 20.6995 69.3005 1 45 1C20.6995 1 1 20.6995 1 45C1 69.3005 20.6995 89 45 89Z" stroke="#33C5F3" stroke-width="2"/>
                        </svg>
                    .balcony-pay__list-items-text Банковская карта
                li.balcony-pay__list-items  
                    .balcony-pay__list-items-icons 
                        <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_204_1821)">
                            <path d="M66.6254 51.3616H60.5488V53.3871H66.6254V51.3616Z" fill="#33C5F3"/>
                            <path d="M58.5234 51.3616H52.4468V53.3871H58.5234V51.3616Z" fill="#33C5F3"/>
                            <path d="M50.4213 51.3616H44.3447V53.3871H50.4213V51.3616Z" fill="#33C5F3"/>
                            <path d="M44 89C68.3005 89 88 69.3005 88 45C88 20.6995 68.3005 1 44 1C19.6995 1 0 20.6995 0 45C0 69.3005 19.6995 89 44 89Z" stroke="#33C5F3" stroke-width="2"/>
                            <path d="M75.7399 31.9196L55.7004 11.877C55.1313 11.3025 54.3559 10.9797 53.5472 10.9807H53.5381C52.7347 10.9811 51.9653 11.304 51.4022 11.877L30.1443 33.1319H19.0383C17.3603 33.1319 16 34.4922 16 36.1702V64.5276C16 66.2056 17.3603 67.5659 19.0383 67.5659H34.0434L37.0655 70.591C37.6345 71.1655 38.4099 71.4883 39.2186 71.4873H39.2267C40.0304 71.4871 40.8003 71.1641 41.3637 70.591L44.3918 67.5659H67.651C69.329 67.5659 70.6893 66.2056 70.6893 64.5276V41.2685L75.7349 36.2229C76.3108 35.6591 76.6359 34.8877 76.6373 34.0819C76.6403 33.2699 76.317 32.4908 75.7399 31.9196ZM62.8566 21.9003L51.625 33.1319H43.0246L58.5564 17.6001L62.8566 21.9003ZM52.8363 13.305C53.2215 12.9104 53.8537 12.9028 54.2484 13.2882C54.2541 13.2937 54.2598 13.2993 54.2653 13.305L57.1243 16.1681L40.1595 33.1319H33.0084L52.8363 13.305ZM39.9296 69.163C39.7444 69.3565 39.4884 69.4661 39.2207 69.4669C38.9492 69.4662 38.6895 69.3569 38.4996 69.163L36.9085 67.5659H41.5277L39.9296 69.163ZM68.6638 64.5276C68.6638 65.0869 68.2103 65.5404 67.651 65.5404H19.0383C18.479 65.5404 18.0255 65.0869 18.0255 64.5276V50.3489H68.6638V64.5276ZM68.6638 48.3234H18.0255V42.2468H68.6638V48.3234ZM68.6638 40.2213H18.0255V36.1702C18.0255 35.6109 18.479 35.1574 19.0383 35.1574H67.651C68.2103 35.1574 68.6638 35.6109 68.6638 36.1702V40.2213ZM74.3079 34.7857L70.6893 38.4044V36.1702C70.6893 34.4922 69.329 33.1319 67.651 33.1319H54.4851L64.2846 23.3324L74.3038 33.3517C74.4984 33.5423 74.6079 33.8034 74.6077 34.0758C74.6074 34.3432 74.4993 34.5991 74.3079 34.7857Z" fill="#33C5F3"/>
                            <path d="M26.7137 63.542C26.8616 63.4142 27.0001 63.2757 27.128 63.1278C28.4672 64.6877 30.7683 64.9841 32.4591 63.8145C33.5504 63.0515 34.2054 61.8079 34.2173 60.4764C34.2173 58.2391 32.4036 56.4253 30.1662 56.4253C29.9652 56.4226 29.7644 56.4395 29.5667 56.476L29.5404 56.4831C29.5302 56.4831 29.5201 56.4831 29.511 56.4831C28.5832 56.6373 27.7394 57.1134 27.128 57.828C25.6645 56.1357 23.1061 55.9502 21.4139 57.4138C19.7216 58.8772 19.5361 61.4356 20.9997 63.1278C22.4632 64.8201 25.0214 65.0056 26.7137 63.542ZM29.91 58.4721C29.9945 58.4561 30.0803 58.449 30.1662 58.4509C31.285 58.4509 32.1918 59.3577 32.1918 60.4764C32.1908 60.9049 32.0511 61.3217 31.7938 61.6644C31.7573 61.714 31.7289 61.7657 31.6874 61.8173C31.6803 61.8254 31.6702 61.8305 31.6621 61.8386C31.2795 62.261 30.7362 62.5021 30.1662 62.5019C29.0478 62.4828 28.1564 61.5607 28.1755 60.4422C28.1925 59.4491 28.927 58.6147 29.91 58.4721ZM24.0897 58.4509C25.2084 58.4509 26.1152 59.3577 26.1152 60.4764C26.1152 61.5951 25.2084 62.5019 24.0897 62.5019C22.9709 62.5019 22.0641 61.5951 22.0641 60.4764C22.0641 59.3577 22.9709 58.4509 24.0897 58.4509Z" fill="#33C5F3"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_204_1821">
                            <rect width="90" height="90" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .balcony-pay__list-items-text Оплата наличными
                li.balcony-pay__list-items  
                    .balcony-pay__list-items-icons 
                        <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.2605 25.5312H30.3391C30.7985 25.5312 31.1705 25.9038 31.1705 26.3631C31.1705 26.8224 30.7985 27.1945 30.3391 27.1945H23.2605C21.8284 27.1945 20.6632 28.3596 20.6632 29.7917V31.3837H73.3367V29.7917C73.3367 28.3596 72.1716 27.1945 70.7395 27.1945H33.666C33.2068 27.1945 32.8342 26.8224 32.8342 26.3631C32.8342 25.9038 33.2068 25.5312 33.666 25.5312H70.7395C73.0889 25.5312 75 27.4423 75 29.7917V50.6666C75 51.1258 74.6279 51.4985 74.1682 51.4985C73.7089 51.4985 73.3367 51.1258 73.3367 50.6666V41.7178H20.6632V60.3096C20.6632 61.7416 21.8284 62.9067 23.2605 62.9067H70.7395C72.1716 62.9067 73.3367 61.7416 73.3367 60.3096V53.9936C73.3367 53.5342 73.7089 53.1616 74.1682 53.1616C74.6279 53.1616 75 53.5342 75 53.9936V60.3096C75 62.659 73.0889 64.5706 70.7395 64.5706H23.2605C20.9115 64.5706 19 62.659 19 60.3096V29.7917C19 27.4423 20.9115 25.5312 23.2605 25.5312ZM73.3367 40.0546V33.0475H20.6632V40.0546H73.3367Z" fill="#00C7FF"/>
                            <path d="M38.407 54.4839C38.407 57.5122 35.9432 59.9762 32.9149 59.9762C32.0822 59.9762 31.2926 59.789 30.5846 59.4558C29.8767 59.789 29.0871 59.9762 28.2544 59.9762C25.2261 59.9762 22.7627 57.5122 22.7627 54.4839C22.7627 51.4556 25.2261 48.9922 28.2544 48.9922C29.0875 48.9922 29.8771 49.1792 30.5846 49.5121C31.2926 49.1792 32.0822 48.9922 32.9149 48.9922C35.9432 48.9922 38.407 51.4556 38.407 54.4839ZM32.0829 54.4839C32.0829 53.2493 31.4951 52.1498 30.5846 51.4493C29.6742 52.1498 29.0862 53.2493 29.0862 54.4839C29.0862 55.7191 29.6742 56.8184 30.5846 57.5191C31.4951 56.8184 32.0829 55.7191 32.0829 54.4839ZM24.4259 54.4839C24.4259 56.5955 26.1434 58.313 28.2544 58.313C28.4835 58.313 28.7073 58.2915 28.9257 58.2527C27.9951 57.2682 27.423 55.9422 27.423 54.4839C27.423 53.0257 27.9951 51.6996 28.9257 50.7153C28.7073 50.6769 28.4835 50.6554 28.2544 50.6554C26.1434 50.6554 24.4259 52.3729 24.4259 54.4839ZM32.9149 50.6554C32.6859 50.6554 32.4619 50.6769 32.2437 50.7157C33.1742 51.7 33.7467 53.0257 33.7467 54.4843C33.7467 55.9422 33.1742 57.2682 32.2437 58.2527C32.4619 58.2915 32.6859 58.313 32.9149 58.313C35.0259 58.313 36.7435 56.5955 36.7435 54.4843C36.7438 52.3729 35.0259 50.6554 32.9149 50.6554Z" fill="#00C7FF"/>
                            <path d="M69.7446 46.5116H63.6755C63.2158 46.5116 62.8438 46.1394 62.8438 45.6802C62.8438 45.2208 63.2158 44.8484 63.6755 44.8484H69.7446C70.2043 44.8484 70.5765 45.2208 70.5765 45.6802C70.5765 46.1394 70.2043 46.5116 69.7446 46.5116Z" fill="#00C7FF"/>
                            <path d="M44.889 46.5116C44.4296 46.5116 44.0576 46.1394 44.0576 45.6802C44.0576 45.2208 44.4296 44.8484 44.889 44.8484H50.9585C51.4177 44.8484 51.7903 45.2208 51.7903 45.6802C51.7903 46.1394 51.4177 46.5116 50.9585 46.5116H44.889Z" fill="#00C7FF"/>
                            <path d="M54.2825 46.5116C53.8227 46.5116 53.4507 46.1394 53.4507 45.6802C53.4507 45.2208 53.8227 44.8484 54.2825 44.8484H60.3515C60.8108 44.8484 61.1833 45.2208 61.1833 45.6802C61.1833 46.1394 60.8108 46.5116 60.3515 46.5116H54.2825Z" fill="#00C7FF"/>
                            <path d="M35.496 44.8484H41.5655C42.0247 44.8484 42.3969 45.2208 42.3969 45.6802C42.3969 46.1394 42.0247 46.5116 41.5655 46.5116H35.496C35.0366 46.5116 34.6646 46.1394 34.6646 45.6802C34.6646 45.2208 35.0366 44.8484 35.496 44.8484Z" fill="#00C7FF"/>
                            <path d="M69.7447 54.5071H50.7151C50.2557 54.5071 49.8833 54.1347 49.8833 53.6753C49.8833 53.2161 50.2557 52.8435 50.7151 52.8435H69.7447C70.2044 52.8435 70.5765 53.2161 70.5765 53.6753C70.5765 54.1347 70.2044 54.5071 69.7447 54.5071Z" fill="#00C7FF"/>
                            <path d="M69.7445 58.4089H58.7352C58.2755 58.4089 57.9033 58.0363 57.9033 57.5769C57.9033 57.1177 58.2755 56.7451 58.7352 56.7451H69.7445C70.2042 56.7451 70.5763 57.1177 70.5763 57.5769C70.5763 58.0363 70.2042 58.4089 69.7445 58.4089Z" fill="#00C7FF"/>
                            <path d="M45 89C69.3005 89 89 69.3005 89 45C89 20.6995 69.3005 1 45 1C20.6995 1 1 20.6995 1 45C1 69.3005 20.6995 89 45 89Z" stroke="#33C5F3" stroke-width="2"/>
                        </svg>
                    .balcony-pay__list-items-text Рассрочка
                li.balcony-pay__list-items  
                    .balcony-pay__list-items-icons 
                        <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45 89C69.3005 89 89 69.3005 89 45C89 20.6995 69.3005 1 45 1C20.6995 1 1 20.6995 1 45C1 69.3005 20.6995 89 45 89Z" stroke="#33C5F3" stroke-width="2"/>
                            <path d="M70.5105 42.7139C69.9619 35.0694 65.8786 28.1185 59.4685 23.9173C58.124 17.5552 52.51 13.0021 46.0073 13C39.5046 12.9979 33.8877 17.5472 32.5389 23.9085C26.193 28.0685 22.1234 34.9256 21.5117 42.4888H19.4571C17.8282 42.4888 16.5078 43.8092 16.5078 45.438V62.1504C16.5078 63.7792 17.8282 65.0997 19.4571 65.0997H32.6982C40.0691 69.8758 49.435 70.3329 57.2359 66.297C61.4405 67.7665 66.0967 67.1048 69.7254 64.522C73.3541 61.9393 75.5042 57.7566 75.4928 53.3027C75.4817 49.2095 73.6571 45.3317 70.5105 42.7139ZM46.0003 14.9624C52.5156 14.9624 57.7973 20.2441 57.7973 26.7594C57.7973 33.2747 52.5156 38.5564 46.0003 38.5564C39.485 38.5564 34.2033 33.2747 34.2033 26.7594C34.2103 20.2471 39.4879 14.9695 46.0003 14.9624ZM18.474 45.438C18.474 44.8951 18.9141 44.4549 19.4571 44.4549H39.1187C39.6617 44.4549 40.1018 44.8951 40.1018 45.438V48.3873H18.474V45.438ZM18.474 50.3534H24.3725V55.2688H18.474V50.3534ZM26.3386 50.3534H32.2371V55.2688H26.3386V50.3534ZM40.1018 50.3534V55.2688H34.2033V50.3534H40.1018ZM32.2371 57.235V63.1335H26.3386V57.235H32.2371ZM34.2033 57.235H40.1018V62.1504C40.1018 62.6934 39.6617 63.1335 39.1187 63.1335H34.2033V57.235ZM18.474 62.1504V57.235H24.3725V63.1335H19.4571C18.9141 63.1335 18.474 62.6934 18.474 62.1504ZM36.8085 65.0997H39.1187C40.7475 65.0997 42.068 63.7792 42.068 62.1504V45.438C42.068 43.8092 40.7475 42.4888 39.1187 42.4888H23.4818C24.038 36.1736 27.2186 30.3817 32.2489 26.5235C32.2489 26.6031 32.2371 26.6798 32.2371 26.7594C32.2371 34.3606 38.3991 40.5226 46.0003 40.5226C53.6015 40.5226 59.7634 34.3606 59.7634 26.7594C59.7634 26.6828 59.7536 26.608 59.7516 26.5314C64.4401 30.1259 67.536 35.4123 68.3772 41.2599C62.9825 38.2677 56.255 39.2364 51.9236 43.6291C47.5923 48.0219 46.7183 54.7623 49.7861 60.1144C50.9845 62.2024 52.7061 63.9422 54.7812 65.1626C54.8058 65.1803 54.8215 65.2068 54.848 65.2225C54.8588 65.2284 54.8706 65.2304 54.8815 65.2353C49.1038 67.7224 42.5481 67.6732 36.8085 65.0997ZM68.4539 62.9831L67.9879 62.176C67.7146 61.7098 67.1163 61.5516 66.6483 61.8218C66.1803 62.092 66.0181 62.6893 66.2852 63.1591L66.7492 63.9632C65.4799 64.565 64.1126 64.9329 62.7127 65.0495V64.1166C62.7127 63.5736 62.2726 63.1335 61.7296 63.1335C61.1867 63.1335 60.7465 63.5736 60.7465 64.1166V65.0495C59.347 64.9345 57.9796 64.5682 56.71 63.9681L57.174 63.164C57.3524 62.8596 57.3541 62.483 57.1784 62.1771C57.0027 61.8712 56.6765 61.6829 56.3238 61.6837C55.971 61.6845 55.6457 61.8742 55.4713 62.1809L55.0053 62.988C53.8532 62.1849 52.8523 61.184 52.0492 60.0319L52.8563 59.5659C53.163 59.3915 53.3527 59.0662 53.3535 58.7134C53.3543 58.3607 53.166 58.0345 52.8601 57.8588C52.5542 57.6831 52.1776 57.6848 51.8732 57.8632L51.0691 58.3272C50.4669 57.0563 50.0989 55.6873 49.9828 54.2857H50.9157C51.4586 54.2857 51.8988 53.8456 51.8988 53.3027C51.8988 52.7597 51.4586 52.3196 50.9157 52.3196H49.9828C50.0979 50.9201 50.4642 49.5527 51.0641 48.283L51.8683 48.7471C52.3381 49.0142 52.9354 48.852 53.2056 48.384C53.4758 47.916 53.3176 47.3177 52.8514 47.0444L52.0443 46.5784C52.8474 45.4262 53.8482 44.4254 55.0004 43.6222L55.4664 44.4294C55.6408 44.736 55.9661 44.9258 56.3188 44.9265C56.6716 44.9273 56.9978 44.739 57.1735 44.4331C57.3492 44.1272 57.3475 43.7506 57.1691 43.4463L56.7051 42.6421C57.9759 42.0398 59.345 41.6718 60.7465 41.5558V42.4888C60.7465 43.0317 61.1867 43.4718 61.7296 43.4718C62.2726 43.4718 62.7127 43.0317 62.7127 42.4888V41.5558C64.1126 41.6724 65.4799 42.0404 66.7492 42.6421L66.2852 43.4463C66.1068 43.7506 66.1051 44.1272 66.2808 44.4331C66.4565 44.739 66.7827 44.9273 67.1355 44.9265C67.4882 44.9258 67.8136 44.736 67.9879 44.4294L68.4539 43.6222C69.6061 44.4254 70.6069 45.4262 71.41 46.5784L70.6029 47.0444C70.2962 47.2187 70.1065 47.544 70.1057 47.8968C70.105 48.2496 70.2933 48.5757 70.5992 48.7514C70.9051 48.9271 71.2817 48.9255 71.586 48.7471L72.3902 48.283C72.9918 49.5524 73.3598 50.9197 73.4765 52.3196H72.5435C72.0006 52.3196 71.5604 52.7597 71.5604 53.3027C71.5604 53.8456 72.0006 54.2857 72.5435 54.2857H73.4765C73.3613 55.6853 72.995 57.0526 72.3951 58.3223L71.5909 57.8583C71.1211 57.5912 70.5239 57.7533 70.2537 58.2213C69.9834 58.6893 70.1416 59.2877 70.6078 59.561L71.4149 60.027C70.6103 61.1795 69.6078 62.1804 68.4539 62.9831Z" fill="#33C5F3"/>
                            <path d="M62.7123 53.0303V46.4211C62.7123 45.8781 62.2722 45.438 61.7292 45.438C61.1863 45.438 60.7461 45.8781 60.7461 46.4211V53.3026C60.7462 53.481 60.7948 53.6561 60.8867 53.8089L63.836 58.7243C64.1203 59.1787 64.7162 59.3216 65.1757 59.0455C65.6351 58.7694 65.7887 58.1761 65.521 57.7118L62.7123 53.0303Z" fill="#33C5F3"/>
                            <path d="M42.1877 33.3531C42.1877 33.9575 42.6754 34.4475 43.277 34.4475C43.8785 34.4475 44.3662 33.9575 44.3662 33.3531V31.7114H47.6338C48.2354 31.7114 48.723 31.2214 48.723 30.6169C48.723 30.0125 48.2354 29.5225 47.6338 29.5225H44.3662V27.8808H47.6338C50.0362 27.8808 51.9906 25.917 51.9906 23.503C51.9906 21.0891 50.0362 19.1252 47.6338 19.1252H43.277C42.6754 19.1252 42.1877 19.6153 42.1877 20.2197V29.5225H41.0985C40.497 29.5225 40.0093 30.0125 40.0093 30.6169C40.0093 31.2214 40.497 31.7114 41.0985 31.7114H42.1877V33.3531ZM49.8122 23.503C49.8122 24.71 48.835 25.6919 47.6338 25.6919H44.3662V21.3141H47.6338C48.8349 21.3141 49.8122 22.2961 49.8122 23.503Z" fill="#33C5F3"/>
                        </svg>
                    .balcony-pay__list-items-text Кредит
                li.balcony-pay__list-items  
                    .balcony-pay__list-items-icons 
                        <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M46.0092 47.4475C47.6744 47.4474 49.3403 46.8143 50.6081 45.5482C51.8368 44.3213 52.5135 42.6899 52.5135 40.9542C52.5135 39.2188 51.8368 37.5873 50.6081 36.3601C48.0722 33.8279 43.9461 33.8279 41.4103 36.3601C40.1816 37.5873 39.5049 39.2188 39.5049 40.9542C39.5049 42.6897 40.1816 44.3212 41.4103 45.5482C42.6784 46.8145 44.3434 47.4475 46.0092 47.4475ZM42.5489 37.5002C43.5028 36.5476 44.7559 36.0713 46.0092 36.0713C47.2623 36.0713 48.5153 36.5476 49.4694 37.5002C50.3934 38.423 50.9022 39.6496 50.9022 40.9542C50.9022 42.2588 50.3934 43.4853 49.4694 44.4081C47.5615 46.3133 44.4569 46.3133 42.5489 44.4081C41.6248 43.4855 41.116 42.2588 41.116 40.9542C41.116 39.6496 41.6248 38.423 42.5489 37.5002Z" fill="#00C7FF"/>
                            <path d="M51.9991 33.291C52.205 33.291 52.4111 33.2125 52.5684 33.0555L56.6433 28.9872C57.3805 28.2513 56.242 27.111 55.5048 27.8469L51.4299 31.9152C50.951 32.3933 51.3223 33.291 51.9991 33.291Z" fill="#00C7FF"/>
                            <path d="M54.09 35.712C54.4697 36.027 54.8496 36.0273 55.2294 35.7129L59.3044 31.6447C60.0416 30.9087 58.9031 29.7685 58.1659 30.5044L54.0909 34.5728C53.776 34.887 53.7756 35.3972 54.09 35.712Z" fill="#00C7FF"/>
                            <path d="M71.1768 59.5982L68.4996 59.5975L68.4835 51.5284C68.4824 51.0842 68.1223 50.7245 67.6779 50.7245L54.0134 50.7209L71.7637 32.9966C72.0788 32.6165 72.0788 32.2365 71.7637 31.8564L55.1192 15.2356C54.8048 14.9215 54.2951 14.9215 53.9805 15.2356L47.3697 21.8373C46.6327 22.5735 47.7714 23.7135 48.5084 22.9775L54.55 16.9442L70.0541 32.4264L51.7424 50.7115H49.7615L65.534 34.974C65.8494 34.5939 65.8493 34.2137 65.5342 33.8335C65.1576 33.4576 64.9503 32.9578 64.9503 32.4263C64.9505 31.8949 65.1578 31.3953 65.5342 31.0194C65.8493 30.6393 65.8493 30.2593 65.5342 29.8792L57.0992 21.4563C56.7848 21.1422 56.2751 21.1422 55.9605 21.4563C55.1828 22.2328 53.9173 22.233 53.1396 21.4563C52.825 21.1421 52.3153 21.1422 52.0009 21.4563L26.4846 46.9347C26.1694 47.3147 26.1694 47.6948 26.4846 48.0748C26.861 48.4508 27.0683 48.9504 27.0683 49.4819C27.0683 49.9343 26.9169 50.363 26.6399 50.7126L23.1961 50.7115L21.9646 49.4819L45.4827 25.9983C46.2199 25.2621 45.0814 24.1223 44.344 24.8581L20.2551 48.9117C19.9399 49.2918 19.9399 49.672 20.2551 50.0521L20.9164 50.7122L17.8059 50.7115C17.3983 50.7115 16.9992 51.1209 17 51.5187L17.0176 60.3092C17.0186 60.7534 17.3788 61.1131 17.8231 61.1133L20.5003 61.114L20.5166 69.1829C20.5175 69.6271 20.8777 69.987 21.322 69.987L48.385 70C49.3886 70 49.483 68.3836 48.3852 68.3834L37.4488 68.3803V61.2007L55.0499 61.2053V68.3843L53.2314 68.3839C52.1703 68.3839 52.1699 70 53.2311 70H71.1941C71.6016 70 72.0007 69.5904 72 69.1928L71.9824 60.4023C71.9815 59.9581 71.6212 59.5984 71.1768 59.5982ZM33.95 52.327L50.0521 52.3312L51.5512 52.3316V59.5108L33.95 59.506V52.327ZM66.8883 59.5148L53.1625 59.5111V58.1017H66.8854L66.8883 59.5148ZM66.8766 53.7363H61.9484C60.9067 53.7363 60.9067 55.3476 61.9484 55.3476H66.8799L66.8821 56.4902H53.1625V55.3476H58.4291C59.4708 55.3476 59.4708 53.7363 58.4291 53.7363H53.1625V52.3322L66.8738 52.3357L66.8766 53.7363ZM28.1303 47.5686L52.6341 23.101C53.8011 23.8321 55.2991 23.8321 56.4658 23.101L63.8884 30.5131C63.5306 31.081 63.3391 31.739 63.3391 32.4264C63.3391 33.1138 63.5306 33.7719 63.8884 34.3398L47.4803 50.7115H40.2078L40.758 50.1632C41.4959 49.428 40.3587 48.2864 39.6208 49.0217L37.9249 50.7115H34.8866L38.0978 47.5056C38.8352 46.7697 37.6967 45.6293 36.9595 46.3652L32.8845 50.4336C32.8019 50.5161 32.7414 50.6121 32.7021 50.7146L28.464 50.7133C28.6054 50.3239 28.6795 49.9087 28.6795 49.4821C28.6797 48.7946 28.4881 48.1364 28.1303 47.5686ZM18.6245 58.1015H29.64C30.6817 58.1015 30.6817 56.4902 29.64 56.4902H18.6213L18.619 55.3476H21.0329C22.0746 55.3476 22.0746 53.7363 21.0329 53.7363H18.6157L18.6128 52.323L32.3385 52.3267V53.7363H24.4747C23.4331 53.7363 23.4331 55.3476 24.4747 55.3476H32.3387V59.5058L18.6273 59.5021L18.6245 58.1015ZM22.1263 68.3759L22.1235 66.9752H27.0517C28.0934 66.9752 28.0934 65.3639 27.0517 65.3639H22.1202L22.1179 64.2212H35.8375V65.3639H30.5709C29.5293 65.3639 29.5293 66.9752 30.5709 66.9752H35.8375V68.3797L22.1263 68.3759ZM35.8375 62.61H22.1147L22.1118 61.1967L35.8375 61.2004V62.61ZM56.6614 68.3848V66.9752H64.5253C65.5668 66.9752 65.5668 65.3639 64.5253 65.3639H56.6614V61.2059L70.3727 61.2094L70.3755 62.61H59.3599C58.3184 62.61 58.3184 64.2213 59.3599 64.2213H70.3786L70.381 65.3639H67.9669C66.9253 65.3639 66.9253 66.9752 67.9669 66.9752H70.3841L70.387 68.3885L56.6614 68.3848Z" fill="#00C7FF"/>
                            <path d="M45 89C69.3005 89 89 69.3005 89 45C89 20.6995 69.3005 1 45 1C20.6995 1 1 20.6995 1 45C1 69.3005 20.6995 89 45 89Z" stroke="#33C5F3" stroke-width="2"/>
                        </svg>
                    .balcony-pay__list-items-text Карта рассрочки

    section.balcony-knowledge
        .containers 
            .balcony-knowledge__title Полезно знать
            .balcony-knowledge__text 
                .balcony-knowledge__text-add Будет ли отличие в температуре на улице и на лоджии после установки «теплого остекления»?
                .balcony-knowledge__text-description Если сделан ремонт, лоджия утеплена, все швы «пройдены» герметиком, разница в температуре будет несущественная (немногим ниже, чем в комнате).  Если работы по утеплению не были проведены, то разница температуры поздней осенью, зимой или ранней весной снаружи и изнутри составит до 20 градусов.
            .balcony-knowledge__accordion#accordion
                .balcony-knowledge__accordion-items#accordionItems-1
                    .balcony-knowledge__accordion-title 
                        p Можно ли устанавливать на окнах лоджии рольшторы? И если да, то какие есть варианты?
                        .balcony-knowledge__accordion-title-icons.rotate-45
                            <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="36" cy="36" r="27" stroke="#286CF0"/>
                                <path d="M36 45L36 27" stroke="#286CF0" stroke-linecap="square"/>
                                <path d="M45 36L27 36" stroke="#286CF0" stroke-linecap="square"/>
                            </svg>
                    .balcony-knowledge__accordion-text
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, perferendis? Fuga consequuntur quas nisi magnam nostrum, beatae suscipit, quo dignissimos, maiores inventore animi. Officia, hic. Eius quia illo in est saepe voluptatum sequi, molestiae unde ex vitae ipsum dicta eveniet ullam neque sed debitis nemo accusantium quae quibusdam a. Omnis enim adipisci eum? Eveniet, minima!
                .balcony-knowledge__accordion-items#accordionItems-2
                    .balcony-knowledge__accordion-title 
                        p Можно ли устанавливать на окнах лоджии рольшторы? И если да, то какие есть варианты?
                        .balcony-knowledge__accordion-title-icons 
                            <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="36" cy="36" r="27" stroke="#286CF0"/>
                                <path d="M36 45L36 27" stroke="#286CF0" stroke-linecap="square"/>
                                <path d="M45 36L27 36" stroke="#286CF0" stroke-linecap="square"/>
                            </svg>
                    .balcony-knowledge__accordion-text.display-n
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, perferendis? Fuga consequuntur quas nisi magnam nostrum, beatae suscipit, quo dignissimos, maiores inventore animi. Officia, hic. Eius quia illo in est saepe voluptatum sequi, molestiae unde ex vitae ipsum dicta eveniet ullam neque sed debitis nemo accusantium quae quibusdam a. Omnis enim adipisci eum? Eveniet, minima!
                .balcony-knowledge__accordion-items#accordionItems-3
                    .balcony-knowledge__accordion-title 
                        p Можно ли устанавливать на окнах лоджии рольшторы? И если да, то какие есть варианты?
                        .balcony-knowledge__accordion-title-icons
                            <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="36" cy="36" r="27" stroke="#286CF0"/>
                                <path d="M36 45L36 27" stroke="#286CF0" stroke-linecap="square"/>
                                <path d="M45 36L27 36" stroke="#286CF0" stroke-linecap="square"/>
                            </svg>
                    .balcony-knowledge__accordion-text.display-n
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, perferendis? Fuga consequuntur quas nisi magnam nostrum, beatae suscipit, quo dignissimos, maiores inventore animi. Officia, hic. Eius quia illo in est saepe voluptatum sequi, molestiae unde ex vitae ipsum dicta eveniet ullam neque sed debitis nemo accusantium quae quibusdam a. Omnis enim adipisci eum? Eveniet, minima!
                







    @@include('components/_footer.pug')

@@include('components/_script.pug')