@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.door-banner 
        .door-banner__block 
            .door-banner__block-content 
                .door-banner__block-content-title Входные 
                    br
                    | пластиковые
                    br
                    | двери Rehau
                .door-banner__block-content-price от 14 214 ₽
                button.door-banner__block-content-btn 
                    a(href="#") Рассчитать стоимость
            .door-banner__block-photo 

    section.door-plus 
        .door-plus__block 
            .door-plus__block-table 
                .door-plus__block-table-title Плюсы входных дверей ПВХ
                .door-plus__block-table-wrapper 
                    .door-plus__block-table-items
                        .door-plus__block-table-items-icons 
                            <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.72705 0.693848V30.1836H35.6361V0.693848H4.72705ZM18.5452 27.4081H7.63614V3.46936H18.5452V27.4081ZM32.727 27.4081H21.818V3.46936H32.727V27.4081Z" fill="#FF7678"/>
                                <path d="M35.8182 30.5306C35.5273 30.5306 35.2727 30.2878 35.2727 30.0102V1.04082H5.09091V28.6224C5.09091 28.9 4.83636 29.1429 4.54545 29.1429C4.25455 29.1429 4 28.9 4 28.6224V0.520408C4 0.242857 4.25455 0 4.54545 0H35.8182C36.1091 0 36.3636 0.242857 36.3636 0.520408V30.0102C36.3636 30.2878 36.1091 30.5306 35.8182 30.5306Z" fill="#1C2947"/>
                                <path d="M32.909 28.102H21.6363C21.3454 28.102 21.0908 27.8592 21.0908 27.5816V16.4796C21.0908 16.202 21.3454 15.9592 21.6363 15.9592C21.9272 15.9592 22.1817 16.202 22.1817 16.4796V27.0612H32.3635V3.81633H22.1817V14.398C22.1817 14.6755 21.9272 14.9184 21.6363 14.9184C21.3454 14.9184 21.0908 14.6755 21.0908 14.398V3.29592C21.0908 3.01837 21.3454 2.77551 21.6363 2.77551H32.909C33.1999 2.77551 33.4545 3.01837 33.4545 3.29592V27.5816C33.4545 27.8592 33.1999 28.102 32.909 28.102Z" fill="#1C2947"/>
                                <path d="M18.7274 28.102H7.45463C7.16373 28.102 6.90918 27.8592 6.90918 27.5816V3.29592C6.90918 3.01837 7.16373 2.77551 7.45463 2.77551H18.7274C19.0183 2.77551 19.2728 3.01837 19.2728 3.29592V27.5816C19.2728 27.8592 19.0183 28.102 18.7274 28.102ZM8.00009 27.0612H18.1819V3.81633H8.00009V27.0612Z" fill="#1C2947"/>
                                <path d="M23.0909 15.2653H20.5455C20.2545 15.2653 20 15.0224 20 14.7449C20 14.4673 20.2545 14.2245 20.5455 14.2245H23.0909C23.3818 14.2245 23.6364 14.4673 23.6364 14.7449C23.6364 15.0224 23.3818 15.2653 23.0909 15.2653Z" fill="#1C2947"/>
                                <path d="M39.4545 34.0001H8.18182C7.89091 34.0001 7.63636 33.7572 7.63636 33.4797C7.63636 33.2021 7.89091 32.9592 8.18182 32.9592H38.9091V30.8776H1.09091V32.9592H5.63636C5.92727 32.9592 6.18182 33.2021 6.18182 33.4797C6.18182 33.7572 5.92727 34.0001 5.63636 34.0001H0.545455C0.254545 34.0001 0 33.7572 0 33.4797V30.3572C0 30.0796 0.254545 29.8368 0.545455 29.8368H39.4545C39.7455 29.8368 40 30.0796 40 30.3572V33.4797C40 33.7572 39.7455 34.0001 39.4545 34.0001Z" fill="#1C2947"/>
                                <path d="M10.3634 15.2655C10.218 15.2655 10.0725 15.2308 9.96344 15.1267C9.74526 14.9185 9.74526 14.6063 9.96344 14.3981L14.6907 9.88793C14.9089 9.67977 15.2362 9.67977 15.4544 9.88793C15.6725 10.0961 15.6725 10.4083 15.4544 10.6165L10.7271 15.1267C10.6544 15.2308 10.5089 15.2655 10.3634 15.2655Z" fill="#8BD9F2"/>
                                <path d="M13.091 16.8266C12.9455 16.8266 12.8001 16.7919 12.691 16.6879C12.4728 16.4797 12.4728 16.1675 12.691 15.9593L14.3273 14.3981C14.5455 14.1899 14.8728 14.1899 15.091 14.3981C15.3092 14.6062 15.3092 14.9185 15.091 15.1266L13.4546 16.6879C13.3819 16.7919 13.2364 16.8266 13.091 16.8266Z" fill="#8BD9F2"/>
                                <path d="M25.2726 18.7348C25.1272 18.7348 24.9817 18.7001 24.8726 18.5961C24.6544 18.3879 24.6544 18.0757 24.8726 17.8675L29.5999 13.3573C29.8181 13.1491 30.1454 13.1491 30.3635 13.3573C30.5817 13.5655 30.5817 13.8777 30.3635 14.0859L25.6363 18.5961C25.5635 18.7001 25.4181 18.7348 25.2726 18.7348Z" fill="#8BD9F2"/>
                                <path d="M28.0002 20.2961C27.8547 20.2961 27.7093 20.2614 27.6002 20.1574C27.382 19.9492 27.382 19.6369 27.6002 19.4288L29.2365 17.8675C29.4547 17.6594 29.782 17.6594 30.0002 17.8675C30.2183 18.0757 30.2183 18.388 30.0002 18.5961L28.3638 20.1574C28.2911 20.2614 28.1456 20.2961 28.0002 20.2961Z" fill="#8BD9F2"/>
                            </svg>
                        .door-plus__block-table-items-title 
                            p Красота и функциональность
                    .door-plus__block-table-items
                        .door-plus__block-table-items-icons 
                            <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.72705 0.693848V30.1836H35.6361V0.693848H4.72705ZM18.5452 27.4081H7.63614V3.46936H18.5452V27.4081ZM32.727 27.4081H21.818V3.46936H32.727V27.4081Z" fill="#FF7678"/>
                                <path d="M35.8182 30.5306C35.5273 30.5306 35.2727 30.2878 35.2727 30.0102V1.04082H5.09091V28.6224C5.09091 28.9 4.83636 29.1429 4.54545 29.1429C4.25455 29.1429 4 28.9 4 28.6224V0.520408C4 0.242857 4.25455 0 4.54545 0H35.8182C36.1091 0 36.3636 0.242857 36.3636 0.520408V30.0102C36.3636 30.2878 36.1091 30.5306 35.8182 30.5306Z" fill="#1C2947"/>
                                <path d="M32.909 28.102H21.6363C21.3454 28.102 21.0908 27.8592 21.0908 27.5816V16.4796C21.0908 16.202 21.3454 15.9592 21.6363 15.9592C21.9272 15.9592 22.1817 16.202 22.1817 16.4796V27.0612H32.3635V3.81633H22.1817V14.398C22.1817 14.6755 21.9272 14.9184 21.6363 14.9184C21.3454 14.9184 21.0908 14.6755 21.0908 14.398V3.29592C21.0908 3.01837 21.3454 2.77551 21.6363 2.77551H32.909C33.1999 2.77551 33.4545 3.01837 33.4545 3.29592V27.5816C33.4545 27.8592 33.1999 28.102 32.909 28.102Z" fill="#1C2947"/>
                                <path d="M18.7274 28.102H7.45463C7.16373 28.102 6.90918 27.8592 6.90918 27.5816V3.29592C6.90918 3.01837 7.16373 2.77551 7.45463 2.77551H18.7274C19.0183 2.77551 19.2728 3.01837 19.2728 3.29592V27.5816C19.2728 27.8592 19.0183 28.102 18.7274 28.102ZM8.00009 27.0612H18.1819V3.81633H8.00009V27.0612Z" fill="#1C2947"/>
                                <path d="M23.0909 15.2653H20.5455C20.2545 15.2653 20 15.0224 20 14.7449C20 14.4673 20.2545 14.2245 20.5455 14.2245H23.0909C23.3818 14.2245 23.6364 14.4673 23.6364 14.7449C23.6364 15.0224 23.3818 15.2653 23.0909 15.2653Z" fill="#1C2947"/>
                                <path d="M39.4545 34.0001H8.18182C7.89091 34.0001 7.63636 33.7572 7.63636 33.4797C7.63636 33.2021 7.89091 32.9592 8.18182 32.9592H38.9091V30.8776H1.09091V32.9592H5.63636C5.92727 32.9592 6.18182 33.2021 6.18182 33.4797C6.18182 33.7572 5.92727 34.0001 5.63636 34.0001H0.545455C0.254545 34.0001 0 33.7572 0 33.4797V30.3572C0 30.0796 0.254545 29.8368 0.545455 29.8368H39.4545C39.7455 29.8368 40 30.0796 40 30.3572V33.4797C40 33.7572 39.7455 34.0001 39.4545 34.0001Z" fill="#1C2947"/>
                                <path d="M10.3634 15.2655C10.218 15.2655 10.0725 15.2308 9.96344 15.1267C9.74526 14.9185 9.74526 14.6063 9.96344 14.3981L14.6907 9.88793C14.9089 9.67977 15.2362 9.67977 15.4544 9.88793C15.6725 10.0961 15.6725 10.4083 15.4544 10.6165L10.7271 15.1267C10.6544 15.2308 10.5089 15.2655 10.3634 15.2655Z" fill="#8BD9F2"/>
                                <path d="M13.091 16.8266C12.9455 16.8266 12.8001 16.7919 12.691 16.6879C12.4728 16.4797 12.4728 16.1675 12.691 15.9593L14.3273 14.3981C14.5455 14.1899 14.8728 14.1899 15.091 14.3981C15.3092 14.6062 15.3092 14.9185 15.091 15.1266L13.4546 16.6879C13.3819 16.7919 13.2364 16.8266 13.091 16.8266Z" fill="#8BD9F2"/>
                                <path d="M25.2726 18.7348C25.1272 18.7348 24.9817 18.7001 24.8726 18.5961C24.6544 18.3879 24.6544 18.0757 24.8726 17.8675L29.5999 13.3573C29.8181 13.1491 30.1454 13.1491 30.3635 13.3573C30.5817 13.5655 30.5817 13.8777 30.3635 14.0859L25.6363 18.5961C25.5635 18.7001 25.4181 18.7348 25.2726 18.7348Z" fill="#8BD9F2"/>
                                <path d="M28.0002 20.2961C27.8547 20.2961 27.7093 20.2614 27.6002 20.1574C27.382 19.9492 27.382 19.6369 27.6002 19.4288L29.2365 17.8675C29.4547 17.6594 29.782 17.6594 30.0002 17.8675C30.2183 18.0757 30.2183 18.388 30.0002 18.5961L28.3638 20.1574C28.2911 20.2614 28.1456 20.2961 28.0002 20.2961Z" fill="#8BD9F2"/>
                            </svg>
                        .door-plus__block-table-items-title 
                            p Отсутствие деформации
                    .door-plus__block-table-items
                        .door-plus__block-table-items-icons 
                            <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.72705 0.693848V30.1836H35.6361V0.693848H4.72705ZM18.5452 27.4081H7.63614V3.46936H18.5452V27.4081ZM32.727 27.4081H21.818V3.46936H32.727V27.4081Z" fill="#FF7678"/>
                                <path d="M35.8182 30.5306C35.5273 30.5306 35.2727 30.2878 35.2727 30.0102V1.04082H5.09091V28.6224C5.09091 28.9 4.83636 29.1429 4.54545 29.1429C4.25455 29.1429 4 28.9 4 28.6224V0.520408C4 0.242857 4.25455 0 4.54545 0H35.8182C36.1091 0 36.3636 0.242857 36.3636 0.520408V30.0102C36.3636 30.2878 36.1091 30.5306 35.8182 30.5306Z" fill="#1C2947"/>
                                <path d="M32.909 28.102H21.6363C21.3454 28.102 21.0908 27.8592 21.0908 27.5816V16.4796C21.0908 16.202 21.3454 15.9592 21.6363 15.9592C21.9272 15.9592 22.1817 16.202 22.1817 16.4796V27.0612H32.3635V3.81633H22.1817V14.398C22.1817 14.6755 21.9272 14.9184 21.6363 14.9184C21.3454 14.9184 21.0908 14.6755 21.0908 14.398V3.29592C21.0908 3.01837 21.3454 2.77551 21.6363 2.77551H32.909C33.1999 2.77551 33.4545 3.01837 33.4545 3.29592V27.5816C33.4545 27.8592 33.1999 28.102 32.909 28.102Z" fill="#1C2947"/>
                                <path d="M18.7274 28.102H7.45463C7.16373 28.102 6.90918 27.8592 6.90918 27.5816V3.29592C6.90918 3.01837 7.16373 2.77551 7.45463 2.77551H18.7274C19.0183 2.77551 19.2728 3.01837 19.2728 3.29592V27.5816C19.2728 27.8592 19.0183 28.102 18.7274 28.102ZM8.00009 27.0612H18.1819V3.81633H8.00009V27.0612Z" fill="#1C2947"/>
                                <path d="M23.0909 15.2653H20.5455C20.2545 15.2653 20 15.0224 20 14.7449C20 14.4673 20.2545 14.2245 20.5455 14.2245H23.0909C23.3818 14.2245 23.6364 14.4673 23.6364 14.7449C23.6364 15.0224 23.3818 15.2653 23.0909 15.2653Z" fill="#1C2947"/>
                                <path d="M39.4545 34.0001H8.18182C7.89091 34.0001 7.63636 33.7572 7.63636 33.4797C7.63636 33.2021 7.89091 32.9592 8.18182 32.9592H38.9091V30.8776H1.09091V32.9592H5.63636C5.92727 32.9592 6.18182 33.2021 6.18182 33.4797C6.18182 33.7572 5.92727 34.0001 5.63636 34.0001H0.545455C0.254545 34.0001 0 33.7572 0 33.4797V30.3572C0 30.0796 0.254545 29.8368 0.545455 29.8368H39.4545C39.7455 29.8368 40 30.0796 40 30.3572V33.4797C40 33.7572 39.7455 34.0001 39.4545 34.0001Z" fill="#1C2947"/>
                                <path d="M10.3634 15.2655C10.218 15.2655 10.0725 15.2308 9.96344 15.1267C9.74526 14.9185 9.74526 14.6063 9.96344 14.3981L14.6907 9.88793C14.9089 9.67977 15.2362 9.67977 15.4544 9.88793C15.6725 10.0961 15.6725 10.4083 15.4544 10.6165L10.7271 15.1267C10.6544 15.2308 10.5089 15.2655 10.3634 15.2655Z" fill="#8BD9F2"/>
                                <path d="M13.091 16.8266C12.9455 16.8266 12.8001 16.7919 12.691 16.6879C12.4728 16.4797 12.4728 16.1675 12.691 15.9593L14.3273 14.3981C14.5455 14.1899 14.8728 14.1899 15.091 14.3981C15.3092 14.6062 15.3092 14.9185 15.091 15.1266L13.4546 16.6879C13.3819 16.7919 13.2364 16.8266 13.091 16.8266Z" fill="#8BD9F2"/>
                                <path d="M25.2726 18.7348C25.1272 18.7348 24.9817 18.7001 24.8726 18.5961C24.6544 18.3879 24.6544 18.0757 24.8726 17.8675L29.5999 13.3573C29.8181 13.1491 30.1454 13.1491 30.3635 13.3573C30.5817 13.5655 30.5817 13.8777 30.3635 14.0859L25.6363 18.5961C25.5635 18.7001 25.4181 18.7348 25.2726 18.7348Z" fill="#8BD9F2"/>
                                <path d="M28.0002 20.2961C27.8547 20.2961 27.7093 20.2614 27.6002 20.1574C27.382 19.9492 27.382 19.6369 27.6002 19.4288L29.2365 17.8675C29.4547 17.6594 29.782 17.6594 30.0002 17.8675C30.2183 18.0757 30.2183 18.388 30.0002 18.5961L28.3638 20.1574C28.2911 20.2614 28.1456 20.2961 28.0002 20.2961Z" fill="#8BD9F2"/>
                            </svg>
                        .door-plus__block-table-items-title 
                            p Замкнутое армирование створки
                    .door-plus__block-table-items
                        .door-plus__block-table-items-icons 
                            <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.72705 0.693848V30.1836H35.6361V0.693848H4.72705ZM18.5452 27.4081H7.63614V3.46936H18.5452V27.4081ZM32.727 27.4081H21.818V3.46936H32.727V27.4081Z" fill="#FF7678"/>
                                <path d="M35.8182 30.5306C35.5273 30.5306 35.2727 30.2878 35.2727 30.0102V1.04082H5.09091V28.6224C5.09091 28.9 4.83636 29.1429 4.54545 29.1429C4.25455 29.1429 4 28.9 4 28.6224V0.520408C4 0.242857 4.25455 0 4.54545 0H35.8182C36.1091 0 36.3636 0.242857 36.3636 0.520408V30.0102C36.3636 30.2878 36.1091 30.5306 35.8182 30.5306Z" fill="#1C2947"/>
                                <path d="M32.909 28.102H21.6363C21.3454 28.102 21.0908 27.8592 21.0908 27.5816V16.4796C21.0908 16.202 21.3454 15.9592 21.6363 15.9592C21.9272 15.9592 22.1817 16.202 22.1817 16.4796V27.0612H32.3635V3.81633H22.1817V14.398C22.1817 14.6755 21.9272 14.9184 21.6363 14.9184C21.3454 14.9184 21.0908 14.6755 21.0908 14.398V3.29592C21.0908 3.01837 21.3454 2.77551 21.6363 2.77551H32.909C33.1999 2.77551 33.4545 3.01837 33.4545 3.29592V27.5816C33.4545 27.8592 33.1999 28.102 32.909 28.102Z" fill="#1C2947"/>
                                <path d="M18.7274 28.102H7.45463C7.16373 28.102 6.90918 27.8592 6.90918 27.5816V3.29592C6.90918 3.01837 7.16373 2.77551 7.45463 2.77551H18.7274C19.0183 2.77551 19.2728 3.01837 19.2728 3.29592V27.5816C19.2728 27.8592 19.0183 28.102 18.7274 28.102ZM8.00009 27.0612H18.1819V3.81633H8.00009V27.0612Z" fill="#1C2947"/>
                                <path d="M23.0909 15.2653H20.5455C20.2545 15.2653 20 15.0224 20 14.7449C20 14.4673 20.2545 14.2245 20.5455 14.2245H23.0909C23.3818 14.2245 23.6364 14.4673 23.6364 14.7449C23.6364 15.0224 23.3818 15.2653 23.0909 15.2653Z" fill="#1C2947"/>
                                <path d="M39.4545 34.0001H8.18182C7.89091 34.0001 7.63636 33.7572 7.63636 33.4797C7.63636 33.2021 7.89091 32.9592 8.18182 32.9592H38.9091V30.8776H1.09091V32.9592H5.63636C5.92727 32.9592 6.18182 33.2021 6.18182 33.4797C6.18182 33.7572 5.92727 34.0001 5.63636 34.0001H0.545455C0.254545 34.0001 0 33.7572 0 33.4797V30.3572C0 30.0796 0.254545 29.8368 0.545455 29.8368H39.4545C39.7455 29.8368 40 30.0796 40 30.3572V33.4797C40 33.7572 39.7455 34.0001 39.4545 34.0001Z" fill="#1C2947"/>
                                <path d="M10.3634 15.2655C10.218 15.2655 10.0725 15.2308 9.96344 15.1267C9.74526 14.9185 9.74526 14.6063 9.96344 14.3981L14.6907 9.88793C14.9089 9.67977 15.2362 9.67977 15.4544 9.88793C15.6725 10.0961 15.6725 10.4083 15.4544 10.6165L10.7271 15.1267C10.6544 15.2308 10.5089 15.2655 10.3634 15.2655Z" fill="#8BD9F2"/>
                                <path d="M13.091 16.8266C12.9455 16.8266 12.8001 16.7919 12.691 16.6879C12.4728 16.4797 12.4728 16.1675 12.691 15.9593L14.3273 14.3981C14.5455 14.1899 14.8728 14.1899 15.091 14.3981C15.3092 14.6062 15.3092 14.9185 15.091 15.1266L13.4546 16.6879C13.3819 16.7919 13.2364 16.8266 13.091 16.8266Z" fill="#8BD9F2"/>
                                <path d="M25.2726 18.7348C25.1272 18.7348 24.9817 18.7001 24.8726 18.5961C24.6544 18.3879 24.6544 18.0757 24.8726 17.8675L29.5999 13.3573C29.8181 13.1491 30.1454 13.1491 30.3635 13.3573C30.5817 13.5655 30.5817 13.8777 30.3635 14.0859L25.6363 18.5961C25.5635 18.7001 25.4181 18.7348 25.2726 18.7348Z" fill="#8BD9F2"/>
                                <path d="M28.0002 20.2961C27.8547 20.2961 27.7093 20.2614 27.6002 20.1574C27.382 19.9492 27.382 19.6369 27.6002 19.4288L29.2365 17.8675C29.4547 17.6594 29.782 17.6594 30.0002 17.8675C30.2183 18.0757 30.2183 18.388 30.0002 18.5961L28.3638 20.1574C28.2911 20.2614 28.1456 20.2961 28.0002 20.2961Z" fill="#8BD9F2"/>
                            </svg>
                        .door-plus__block-table-items-title 
                            p Защита от холода и шума
                    .door-plus__block-table-items
                        .door-plus__block-table-items-icons 
                            <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.72705 0.693848V30.1836H35.6361V0.693848H4.72705ZM18.5452 27.4081H7.63614V3.46936H18.5452V27.4081ZM32.727 27.4081H21.818V3.46936H32.727V27.4081Z" fill="#FF7678"/>
                                <path d="M35.8182 30.5306C35.5273 30.5306 35.2727 30.2878 35.2727 30.0102V1.04082H5.09091V28.6224C5.09091 28.9 4.83636 29.1429 4.54545 29.1429C4.25455 29.1429 4 28.9 4 28.6224V0.520408C4 0.242857 4.25455 0 4.54545 0H35.8182C36.1091 0 36.3636 0.242857 36.3636 0.520408V30.0102C36.3636 30.2878 36.1091 30.5306 35.8182 30.5306Z" fill="#1C2947"/>
                                <path d="M32.909 28.102H21.6363C21.3454 28.102 21.0908 27.8592 21.0908 27.5816V16.4796C21.0908 16.202 21.3454 15.9592 21.6363 15.9592C21.9272 15.9592 22.1817 16.202 22.1817 16.4796V27.0612H32.3635V3.81633H22.1817V14.398C22.1817 14.6755 21.9272 14.9184 21.6363 14.9184C21.3454 14.9184 21.0908 14.6755 21.0908 14.398V3.29592C21.0908 3.01837 21.3454 2.77551 21.6363 2.77551H32.909C33.1999 2.77551 33.4545 3.01837 33.4545 3.29592V27.5816C33.4545 27.8592 33.1999 28.102 32.909 28.102Z" fill="#1C2947"/>
                                <path d="M18.7274 28.102H7.45463C7.16373 28.102 6.90918 27.8592 6.90918 27.5816V3.29592C6.90918 3.01837 7.16373 2.77551 7.45463 2.77551H18.7274C19.0183 2.77551 19.2728 3.01837 19.2728 3.29592V27.5816C19.2728 27.8592 19.0183 28.102 18.7274 28.102ZM8.00009 27.0612H18.1819V3.81633H8.00009V27.0612Z" fill="#1C2947"/>
                                <path d="M23.0909 15.2653H20.5455C20.2545 15.2653 20 15.0224 20 14.7449C20 14.4673 20.2545 14.2245 20.5455 14.2245H23.0909C23.3818 14.2245 23.6364 14.4673 23.6364 14.7449C23.6364 15.0224 23.3818 15.2653 23.0909 15.2653Z" fill="#1C2947"/>
                                <path d="M39.4545 34.0001H8.18182C7.89091 34.0001 7.63636 33.7572 7.63636 33.4797C7.63636 33.2021 7.89091 32.9592 8.18182 32.9592H38.9091V30.8776H1.09091V32.9592H5.63636C5.92727 32.9592 6.18182 33.2021 6.18182 33.4797C6.18182 33.7572 5.92727 34.0001 5.63636 34.0001H0.545455C0.254545 34.0001 0 33.7572 0 33.4797V30.3572C0 30.0796 0.254545 29.8368 0.545455 29.8368H39.4545C39.7455 29.8368 40 30.0796 40 30.3572V33.4797C40 33.7572 39.7455 34.0001 39.4545 34.0001Z" fill="#1C2947"/>
                                <path d="M10.3634 15.2655C10.218 15.2655 10.0725 15.2308 9.96344 15.1267C9.74526 14.9185 9.74526 14.6063 9.96344 14.3981L14.6907 9.88793C14.9089 9.67977 15.2362 9.67977 15.4544 9.88793C15.6725 10.0961 15.6725 10.4083 15.4544 10.6165L10.7271 15.1267C10.6544 15.2308 10.5089 15.2655 10.3634 15.2655Z" fill="#8BD9F2"/>
                                <path d="M13.091 16.8266C12.9455 16.8266 12.8001 16.7919 12.691 16.6879C12.4728 16.4797 12.4728 16.1675 12.691 15.9593L14.3273 14.3981C14.5455 14.1899 14.8728 14.1899 15.091 14.3981C15.3092 14.6062 15.3092 14.9185 15.091 15.1266L13.4546 16.6879C13.3819 16.7919 13.2364 16.8266 13.091 16.8266Z" fill="#8BD9F2"/>
                                <path d="M25.2726 18.7348C25.1272 18.7348 24.9817 18.7001 24.8726 18.5961C24.6544 18.3879 24.6544 18.0757 24.8726 17.8675L29.5999 13.3573C29.8181 13.1491 30.1454 13.1491 30.3635 13.3573C30.5817 13.5655 30.5817 13.8777 30.3635 14.0859L25.6363 18.5961C25.5635 18.7001 25.4181 18.7348 25.2726 18.7348Z" fill="#8BD9F2"/>
                                <path d="M28.0002 20.2961C27.8547 20.2961 27.7093 20.2614 27.6002 20.1574C27.382 19.9492 27.382 19.6369 27.6002 19.4288L29.2365 17.8675C29.4547 17.6594 29.782 17.6594 30.0002 17.8675C30.2183 18.0757 30.2183 18.388 30.0002 18.5961L28.3638 20.1574C28.2911 20.2614 28.1456 20.2961 28.0002 20.2961Z" fill="#8BD9F2"/>
                            </svg>
                        .door-plus__block-table-items-title 
                            p Усиленная петлевая группа для наибольшей защиты
                    .door-plus__block-table-items
                        .door-plus__block-table-items-icons 
                            <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.72705 0.693848V30.1836H35.6361V0.693848H4.72705ZM18.5452 27.4081H7.63614V3.46936H18.5452V27.4081ZM32.727 27.4081H21.818V3.46936H32.727V27.4081Z" fill="#FF7678"/>
                                <path d="M35.8182 30.5306C35.5273 30.5306 35.2727 30.2878 35.2727 30.0102V1.04082H5.09091V28.6224C5.09091 28.9 4.83636 29.1429 4.54545 29.1429C4.25455 29.1429 4 28.9 4 28.6224V0.520408C4 0.242857 4.25455 0 4.54545 0H35.8182C36.1091 0 36.3636 0.242857 36.3636 0.520408V30.0102C36.3636 30.2878 36.1091 30.5306 35.8182 30.5306Z" fill="#1C2947"/>
                                <path d="M32.909 28.102H21.6363C21.3454 28.102 21.0908 27.8592 21.0908 27.5816V16.4796C21.0908 16.202 21.3454 15.9592 21.6363 15.9592C21.9272 15.9592 22.1817 16.202 22.1817 16.4796V27.0612H32.3635V3.81633H22.1817V14.398C22.1817 14.6755 21.9272 14.9184 21.6363 14.9184C21.3454 14.9184 21.0908 14.6755 21.0908 14.398V3.29592C21.0908 3.01837 21.3454 2.77551 21.6363 2.77551H32.909C33.1999 2.77551 33.4545 3.01837 33.4545 3.29592V27.5816C33.4545 27.8592 33.1999 28.102 32.909 28.102Z" fill="#1C2947"/>
                                <path d="M18.7274 28.102H7.45463C7.16373 28.102 6.90918 27.8592 6.90918 27.5816V3.29592C6.90918 3.01837 7.16373 2.77551 7.45463 2.77551H18.7274C19.0183 2.77551 19.2728 3.01837 19.2728 3.29592V27.5816C19.2728 27.8592 19.0183 28.102 18.7274 28.102ZM8.00009 27.0612H18.1819V3.81633H8.00009V27.0612Z" fill="#1C2947"/>
                                <path d="M23.0909 15.2653H20.5455C20.2545 15.2653 20 15.0224 20 14.7449C20 14.4673 20.2545 14.2245 20.5455 14.2245H23.0909C23.3818 14.2245 23.6364 14.4673 23.6364 14.7449C23.6364 15.0224 23.3818 15.2653 23.0909 15.2653Z" fill="#1C2947"/>
                                <path d="M39.4545 34.0001H8.18182C7.89091 34.0001 7.63636 33.7572 7.63636 33.4797C7.63636 33.2021 7.89091 32.9592 8.18182 32.9592H38.9091V30.8776H1.09091V32.9592H5.63636C5.92727 32.9592 6.18182 33.2021 6.18182 33.4797C6.18182 33.7572 5.92727 34.0001 5.63636 34.0001H0.545455C0.254545 34.0001 0 33.7572 0 33.4797V30.3572C0 30.0796 0.254545 29.8368 0.545455 29.8368H39.4545C39.7455 29.8368 40 30.0796 40 30.3572V33.4797C40 33.7572 39.7455 34.0001 39.4545 34.0001Z" fill="#1C2947"/>
                                <path d="M10.3634 15.2655C10.218 15.2655 10.0725 15.2308 9.96344 15.1267C9.74526 14.9185 9.74526 14.6063 9.96344 14.3981L14.6907 9.88793C14.9089 9.67977 15.2362 9.67977 15.4544 9.88793C15.6725 10.0961 15.6725 10.4083 15.4544 10.6165L10.7271 15.1267C10.6544 15.2308 10.5089 15.2655 10.3634 15.2655Z" fill="#8BD9F2"/>
                                <path d="M13.091 16.8266C12.9455 16.8266 12.8001 16.7919 12.691 16.6879C12.4728 16.4797 12.4728 16.1675 12.691 15.9593L14.3273 14.3981C14.5455 14.1899 14.8728 14.1899 15.091 14.3981C15.3092 14.6062 15.3092 14.9185 15.091 15.1266L13.4546 16.6879C13.3819 16.7919 13.2364 16.8266 13.091 16.8266Z" fill="#8BD9F2"/>
                                <path d="M25.2726 18.7348C25.1272 18.7348 24.9817 18.7001 24.8726 18.5961C24.6544 18.3879 24.6544 18.0757 24.8726 17.8675L29.5999 13.3573C29.8181 13.1491 30.1454 13.1491 30.3635 13.3573C30.5817 13.5655 30.5817 13.8777 30.3635 14.0859L25.6363 18.5961C25.5635 18.7001 25.4181 18.7348 25.2726 18.7348Z" fill="#8BD9F2"/>
                                <path d="M28.0002 20.2961C27.8547 20.2961 27.7093 20.2614 27.6002 20.1574C27.382 19.9492 27.382 19.6369 27.6002 19.4288L29.2365 17.8675C29.4547 17.6594 29.782 17.6594 30.0002 17.8675C30.2183 18.0757 30.2183 18.388 30.0002 18.5961L28.3638 20.1574C28.2911 20.2614 28.1456 20.2961 28.0002 20.2961Z" fill="#8BD9F2"/>
                            </svg>
                        .door-plus__block-table-items-title 
                            p Возможность установки противовзломных стеклопакетов
            .door-plus__block-add 
                .door-plus__block-add-title Пластиковые двери
                .door-plus__block-add-list 
                    .door-plus__block-add-items 
                        a(href="#") Раздвижные системы PSK-портал
                    .door-plus__block-add-items 
                        a(href="#") Балконные пластиковые двери
                    .door-plus__block-add-items 
                        a(href="#") Входные пластиковые двери
                    .door-plus__block-add-items 
                        a(href="#") Межкомнатные пластиковые двери
                    .door-plus__block-add-items 
                        a(href="#") Офисные перегородки
                    .door-plus__block-add-items 
                        a(href="#") Отделка балконов и лоджий
                    .door-plus__block-add-items 
                        a(href="#") Балконные блоки

    section.door-status 
        .containers 
            .door-status__block 
                .door-status__block-photo 
                    .door-status__block-photo-items 
                        img(src="./img/door/status-1.png", alt="img")
                    .door-status__block-photo-items 
                        img(src="./img/door/status-2.png", alt="img")
                .door-status__block-content 
                    .door-status__block-content-title Характеристика
                    .door-status__block-content-text Всего несколько лет назад металлические входные двери были единственным вариантом установки в домах, объектах социальной, развлекательной или бытовой сферы. Этот материал ассоциировался со спокойствием и комфортом. Но спустя несколько лет мнение поменялось. Входные пластиковые двери вытеснили металлические. Они безопасны и практичны в эксплуатации. Жесткие — за счет технологии изготовления и усиленного армирования 2 мм. Красивые — благодаря возможности выполнить изделия с ламинацией или покрасить в любой из цветов по шкале RAL. Надежные — поскольку справляются защищают от сквозняков, шума, холода, снега, ветра и дождя. Функциональные — потому что могут быть выполнены с любым наполнением — со стеклом или с сендвич-панелью — и любой формы: круг, квадрат, трапеция, прямоугольник.
                    .door-status__block-content-price от 14 214 ₽
                    button.door-status__block-content-btn 
                        p Рассчитать стоимость

    section.door-options
        .door-options__title Варианты исполнения входных дверей
        .door-options__list 
            .door-options__list-items 
                img(src="./img/door/var-1.png", alt="img")
            .door-options__list-items 
                img(src="./img/door/var-2.png", alt="img")
            .door-options__list-items 
                img(src="./img/door/var-3.png", alt="img")
            .door-options__list-items 
                img(src="./img/door/var-4.png", alt="img")
            .door-options__list-items 
                img(src="./img/door/var-5.png", alt="img")

    section.door-slider 
        .door-slider__title Стоимость входных дверей
        .door-slider__block 
            .door-slider__block-controls 
                .door-slider__block-controls-title Размеры
                .door-slider__block-controls-banner 
                    .door-slider__block-controls-banner-prev 
                        <svg width="74" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.939339 13.0607C0.353554 12.4749 0.353554 11.5251 0.939339 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97919 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.939339 13.0607ZM74 13.5H2V10.5H74V13.5Z" fill="#286CF0"/>
                        </svg>
                    .door-slider__block-controls-banner-photo 
                        img(src="./img/door/slider.png", alt="img")
                    .door-slider__block-controls-banner-next 
                        <svg width="74" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M73.0607 13.0607C73.6464 12.4749 73.6464 11.5251 73.0607 10.9393L63.5147 1.3934C62.9289 0.807611 61.9792 0.807611 61.3934 1.3934C60.8076 1.97919 60.8076 2.92893 61.3934 3.51472L69.8787 12L61.3934 20.4853C60.8076 21.0711 60.8076 22.0208 61.3934 22.6066C61.9792 23.1924 62.9289 23.1924 63.5147 22.6066L73.0607 13.0607ZM0 13.5H72V10.5H0V13.5Z" fill="#286CF0"/>
                        </svg>
                .door-slider__block-controls-list 
                    .door-slider__block-controls-items.door-slider__block-controls-items-active#doorSliderButton-1
                        img(src="./img/door/slider-1.png", alt="img")
                    .door-slider__block-controls-items#doorSliderButton-2
                        img(src="./img/door/slider-1.png", alt="img")
                    .door-slider__block-controls-items#doorSliderButton-3
                        img(src="./img/door/slider-1.png", alt="img")
                    .door-slider__block-controls-items#doorSliderButton-4
                        img(src="./img/door/slider-1.png", alt="img")
            .door-slider__block-info 
                .door-slider__block-info-title Комплектация
                ul.door-slider__block-info-list#doorSliderContent-1
                    li.door-slider__block-info-items 
                        h3 Профиль:
                        p Euro
                    li.door-slider__block-info-items 
                        h3 Гарнитур:
                        p Нажимной
                    li.door-slider__block-info-items 
                        h3 Замок:
                        p Многозапорный с личинкой
                    li.door-slider__block-info-items 
                        h3 Заполнение:
                        p Вверху теплопакет 32 мм
                    li.door-slider__block-info-items 
                        h3 Уплатнитель:
                        p Черный
                    li.door-slider__block-info-items 
                        h3 Открывание:
                        p Наружу
                    li.door-slider__block-info-items 
                        h3 Порог:
                        p Алюминевый
                ul.door-slider__block-info-list.display-n#doorSliderContent-2
                    li.door-slider__block-info-items 
                        h3 Профиль:
                        p Euro
                    li.door-slider__block-info-items 
                        h3 Гарнитур:
                        p Нажимной
                    li.door-slider__block-info-items 
                        h3 Замок:
                        p Многозапорный с личинкой
                    li.door-slider__block-info-items 
                        h3 Заполнение:
                        p Вверху теплопакет 32 мм
                    li.door-slider__block-info-items 
                        h3 Уплатнитель:
                        p Черный
                    li.door-slider__block-info-items 
                        h3 Открывание:
                        p Наружу
                    li.door-slider__block-info-items 
                        h3 Порог:
                        p Алюминевый
                ul.door-slider__block-info-list.display-n#doorSliderContent-3
                    li.door-slider__block-info-items 
                        h3 Профиль:
                        p Euro
                    li.door-slider__block-info-items 
                        h3 Гарнитур:
                        p Нажимной
                    li.door-slider__block-info-items 
                        h3 Замок:
                        p Многозапорный с личинкой
                    li.door-slider__block-info-items 
                        h3 Заполнение:
                        p Вверху теплопакет 32 мм
                    li.door-slider__block-info-items 
                        h3 Уплатнитель:
                        p Черный
                    li.door-slider__block-info-items 
                        h3 Открывание:
                        p Наружу
                    li.door-slider__block-info-items 
                        h3 Порог:
                        p Алюминевый
                ul.door-slider__block-info-list.display-n#doorSliderContent-4
                    li.door-slider__block-info-items 
                        h3 Профиль:
                        p Euro
                    li.door-slider__block-info-items 
                        h3 Гарнитур:
                        p Нажимной
                    li.door-slider__block-info-items 
                        h3 Замок:
                        p Многозапорный с личинкой
                    li.door-slider__block-info-items 
                        h3 Заполнение:
                        p Вверху теплопакет 32 мм
                    li.door-slider__block-info-items 
                        h3 Уплатнитель:
                        p Черный
                    li.door-slider__block-info-items 
                        h3 Открывание:
                        p Наружу
                    li.door-slider__block-info-items 
                        h3 Порог:
                        p Алюминевый
                .door-slider__block-info-add Узнайте цену по вашим размерам
                .door-slider__block-info-description Позвоните нам по телефону или воспользуйтесь калькулятором
                .door-slider__block-info-price#doorSliderPrice-1 от 14 214 ₽
                .door-slider__block-info-price.display-n#doorSliderPrice-2 от 14 214 ₽
                .door-slider__block-info-price.display-n#doorSliderPrice-3 от 14 214 ₽
                .door-slider__block-info-price.display-n#doorSliderPrice-4 от 14 214 ₽
                button.door-slider__block-info-btn  
                    p Рассчитать стоимость

    section.door-description 
        .containers 
            .door-description__doors 
                .door-description__doors-title Как отрегулировать входную пластиковую дверь?
                .door-description__doors-wrapper
                    .door-description__doors-photo 

                    .door-description__doors-content 
                        p Для начала проведите диагностику и выясните, в чем именно заключается проблема. Вариантов может быть несколько (мы приведем два самых распространенных):
                            br
                            | — дверь не плотно прилегает к коробке, не правильно работат прижимной механизм — усилить или ослабить прижим можно с помощью шестигранника и отвертки: двигайте изделие в любую сторону, изменяя степень прижима.
                            br
                            | — нарушена геометрия изделия (происходит из-за установленного тонкого армирования, толщина которого меньше 2 мм) — к сожалению, исправить это невозможно, поможет только полная замена створки, поскольку это брак производства.
            .door-description__size 
                .door-description__size-title Какие максимальные размеры имеет входная дверь из ПВХ?
                .door-description__size-wrapper 
                    .door-description__size-content 
                        p Максимальный размер изделия, на которое распространяется гарантия производителя, не может превышать размер 950 мм* 2300мм. В комплектации обязательно должны быть 4 петли и многозапорный замок Titan.
                            br
                            | Размеры створки без гарантии (это максимальные значения) могут быть: 1100 мм*2500 мм. Остальные размеры, которые больше указанных, не допустимы. Изделия не будут изготовлены ни при каких условиях. Даже без гарантии.
                    .door-description__size-photo 
            .door-description__add
                .door-description__add-wrapper 
                    .door-description__add-content 
                        .door-description__add-title Какие возможны варианты декора дверей?
                        .door-description__add-text Декор межкомнатной двери может быть различным. Например, за счет ламинирования под любую породу дерева можно с легкостью изменить цвет и фактурность. Украсить дверь можно с помощью фьюзингов — это специальная технология спекания стекла, фальш-накладки или внутренней раскладки, которая устанавливается в стеклопакет. Кроме этого, в качестве украшения можно использовать витражи.
                    .door-description__add-photo 

    @@include('components/_reviews.pug')

    @@include('components/_footer.pug')

@@include('components/_script.pug')
