@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.ind-catalog 
        .ind-catalog-wrapper 
            .ind-catalog-item-1 
            .ind-catalog-item-2
            .ind-catalog-item-3
            .ind-catalog-item-4
            .ind-catalog__title 
                .ind-catalog__title-wrapper 
                    h3 Важная информация
                    p Режим работы
        .containers 
            .ind-catalog__block 
                    .ind-catalog__block-item-1 
                        .ind-catalog__block-item-1-title Расчет вашего нового окна за 5 минут
                        .ind-catalog__block-item-1-img 
                            img(src="./img/index/catalog.png", alt="img")
                    .ind-catalog__block-item-5 
                        .ind-catalog__block-item-5-icons 
                        .ind-catalog__block-item-5-title Сотрудничество
                        .ind-catalog__block-item-5-text Профессиональный замер на вашем адресе 
                    .ind-catalog__block-item-6 
                        .ind-catalog__block-item-6-icons 
                        .ind-catalog__block-item-6-title Ремонт ваших окон
                        .ind-catalog__block-item-6-text Профессиональный замер на вашем адресе 
                    .ind-catalog__block-item-2 
                        .ind-catalog__block-item-2-icons 
                        .ind-catalog__block-item-2-title Заказать замер
                        .ind-catalog__block-item-2-text Профессиональный замер на вашем адресе 
                    .ind-catalog__block-item-3 
                        .ind-catalog__block-item-3-icons 
                        .ind-catalog__block-item-3-title Отделка балконов
                        .ind-catalog__block-item-3-text Профессиональный замер на вашем адресе 
                    .ind-catalog__block-item-4 
                        .ind-catalog__block-item-4-icons 
                        .ind-catalog__block-item-4-title Поиск монтажников
                        .ind-catalog__block-item-4-text Профессиональный замер на вашем адресе 
                    .ind-catalog__block-item-7 
                        .ind-catalog__block-item-7-icons 
                        .ind-catalog__block-item-7-title Отправить чертеж для рассчета ваших окон
                        .ind-catalog__block-item-7-text Сервис для рассчета сложных конструкций, для оценки стоимости его воплащения
                    .ind-catalog__block-item-8 
                        .ind-catalog__block-item-8-icons 
                        .ind-catalog__block-item-8-title Готовые окна по вашим пораметрам
                        .ind-catalog__block-item-8-text Сервис для рассчета сложных конструкций, для оценки стоимости его воплащения

    section.ind-add 
        .containers 
            .ind-add__block 
                .ind-add__blocks-1
                .ind-add__blocks-2
                .ind-add__blocks-3
                .ind-add__block-item 
                    .ind-add__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-add__block-item-title Одни из самых низких цен в Москве
                .ind-add__block-item 
                    .ind-add__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-add__block-item-title Контроль качества на всех этапах
                .ind-add__block-item 
                    .ind-add__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-add__block-item-title Минимальные сроки производства
                .ind-add__block-item 
                    .ind-add__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-add__block-item-title Профессиональные монтажники
                .ind-add__block-item 
                    .ind-add__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-add__block-item-title Срок гарантийных работ - 5 лет

    section.ind-time 
        .ind-time__block 
            .containers 
                .ind-time__block-wrapper 
                    .ind-time__block-add Закажите онлайн и заберите из магазина
                    .ind-time__block-count ЗА 60 СЕКУНД
                    .ind-time__block-title 6
                    .ind-time__block-img 
                        img(src="./img/index/time.png", alt="img")
                    .ind-time__block-second СЕКУНД
        .ind-time__catalog 
            .containers 
                ul.ind-time__catalog-list
                    li.ind-time__catalog-list-item 
                        .ind-time__catalog-list-item-img 
                            img(src="./img/index/catalog-1.png", alt="img")
                        .ind-time__catalog-list-item-text 
                            .ind-time__catalog-list-item-title Пластиковые окна
                            .ind-time__catalog-list-item-price от 9 100 руб
                    li.ind-time__catalog-list-item 
                        .ind-time__catalog-list-item-img 
                            img(src="./img/index/catalog-2.png", alt="img")
                        .ind-time__catalog-list-item-text 
                            .ind-time__catalog-list-item-title Остекление балконов
                            .ind-time__catalog-list-item-price от 3 900 руб
                    li.ind-time__catalog-list-item 
                        .ind-time__catalog-list-item-img 
                            img(src="./img/index/catalog-3.png", alt="img")
                        .ind-time__catalog-list-item-text 
                            .ind-time__catalog-list-item-title Отделка балконов
                            .ind-time__catalog-list-item-price от 6 700 руб
                    li.ind-time__catalog-list-item 
                        .ind-time__catalog-list-item-img 
                            img(src="./img/index/catalog-4.png", alt="img")
                        .ind-time__catalog-list-item-text 
                            .ind-time__catalog-list-item-title Остекление коттеджей
                            .ind-time__catalog-list-item-price от 10 200 руб

    section.ind-adds
        .containers 
            .ind-adds__block 
                .ind-adds__block-item 
                    .ind-adds__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-adds__block-item-title Сохранение тепла
                .ind-adds__block-item 
                    .ind-adds__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-adds__block-item-title Звукаизоляция
                .ind-adds__block-item 
                    .ind-adds__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-adds__block-item-title Звукаизоляция
                .ind-adds__block-item 
                    .ind-adds__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-adds__block-item-title Экологичность
                .ind-adds__block-item 
                    .ind-adds__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-adds__block-item-title Красивый вид
                .ind-adds__block-item 
                    .ind-adds__block-item-icons 
                        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.61823 0.979248V42.6119H49.891V0.979248H6.61823ZM25.9637 38.6935H10.691V4.89762H25.9637V38.6935ZM45.8182 38.6935H30.5455V4.89762H45.8182V38.6935Z" fill="#FF7678"/>
                            <path d="M50.1454 43.102C49.7382 43.102 49.3818 42.7592 49.3818 42.3673V1.46939H7.12725V40.4082C7.12725 40.8 6.77088 41.1429 6.36361 41.1429C5.95634 41.1429 5.59998 40.8 5.59998 40.4082V0.734694C5.59998 0.342857 5.95634 0 6.36361 0H50.1454C50.5527 0 50.9091 0.342857 50.9091 0.734694V42.3673C50.9091 42.7592 50.5527 43.102 50.1454 43.102Z" fill="#1C2947"/>
                            <path d="M46.0727 39.6734H30.2909C29.8836 39.6734 29.5273 39.3306 29.5273 38.9387V23.2653C29.5273 22.8734 29.8836 22.5306 30.2909 22.5306C30.6982 22.5306 31.0546 22.8734 31.0546 23.2653V38.2041H45.3091V5.38772H31.0546V20.3265C31.0546 20.7183 30.6982 21.0612 30.2909 21.0612C29.8836 21.0612 29.5273 20.7183 29.5273 20.3265V4.65303C29.5273 4.26119 29.8836 3.91833 30.2909 3.91833H46.0727C46.48 3.91833 46.8364 4.26119 46.8364 4.65303V38.9387C46.8364 39.3306 46.48 39.6734 46.0727 39.6734Z" fill="#1C2947"/>
                            <path d="M26.2182 39.6734H10.4364C10.0291 39.6734 9.67273 39.3306 9.67273 38.9387V4.65303C9.67273 4.26119 10.0291 3.91833 10.4364 3.91833H26.2182C26.6255 3.91833 26.9818 4.26119 26.9818 4.65303V38.9387C26.9818 39.3306 26.6255 39.6734 26.2182 39.6734ZM11.2 38.2041H25.4545V5.38772H11.2V38.2041Z" fill="#1C2947"/>
                            <path d="M32.3273 21.5511H28.7636C28.3564 21.5511 28 21.2082 28 20.8164C28 20.4245 28.3564 20.0817 28.7636 20.0817H32.3273C32.7345 20.0817 33.0909 20.4245 33.0909 20.8164C33.0909 21.2082 32.7345 21.5511 32.3273 21.5511Z" fill="#1C2947"/>
                            <path d="M55.2364 48H11.4545C11.0473 48 10.6909 47.6571 10.6909 47.2653C10.6909 46.8735 11.0473 46.5306 11.4545 46.5306H54.4727V43.5918H1.52727V46.5306H7.89091C8.29818 46.5306 8.65454 46.8735 8.65454 47.2653C8.65454 47.6571 8.29818 48 7.89091 48H0.763636C0.356364 48 0 47.6571 0 47.2653V42.8571C0 42.4653 0.356364 42.1224 0.763636 42.1224H55.2364C55.6436 42.1224 56 42.4653 56 42.8571V47.2653C56 47.6571 55.6436 48 55.2364 48Z" fill="#1C2947"/>
                            <path d="M14.5092 21.5511C14.3055 21.5511 14.1019 21.5022 13.9492 21.3552C13.6437 21.0613 13.6437 20.6205 13.9492 20.3266L20.5674 13.9593C20.8728 13.6654 21.331 13.6654 21.6365 13.9593C21.9419 14.2532 21.9419 14.694 21.6365 14.9879L15.0183 21.3552C14.9165 21.5022 14.7128 21.5511 14.5092 21.5511Z" fill="#8BD9F2"/>
                            <path d="M18.3273 23.7552C18.1237 23.7552 17.9201 23.7062 17.7673 23.5593C17.4619 23.2654 17.4619 22.8246 17.7673 22.5307L20.0582 20.3266C20.3637 20.0327 20.8219 20.0327 21.1273 20.3266C21.4328 20.6205 21.4328 21.0613 21.1273 21.3552L18.8364 23.5593C18.7346 23.7062 18.531 23.7552 18.3273 23.7552Z" fill="#8BD9F2"/>
                            <path d="M35.3819 26.4492C35.1782 26.4492 34.9746 26.4002 34.8219 26.2533C34.5164 25.9594 34.5164 25.5186 34.8219 25.2247L41.4401 18.8574C41.7455 18.5635 42.2037 18.5635 42.5092 18.8574C42.8146 19.1512 42.8146 19.5921 42.5092 19.8859L35.891 26.2533C35.7891 26.4002 35.5855 26.4492 35.3819 26.4492Z" fill="#8BD9F2"/>
                            <path d="M39.2001 28.6535C38.9965 28.6535 38.7928 28.6045 38.6401 28.4576C38.3346 28.1637 38.3346 27.7229 38.6401 27.429L40.931 25.2249C41.2365 24.931 41.6946 24.931 42.0001 25.2249C42.3056 25.5188 42.3056 25.9596 42.0001 26.2535L39.7092 28.4576C39.6074 28.6045 39.4037 28.6535 39.2001 28.6535Z" fill="#8BD9F2"/>
                        </svg>
                    .ind-adds__block-item-title Удобство

    section.ind-services
        .containers 
            ul.ind-services__list 
                li.ind-services__list-item 
                    button.ind-services__list-item-btns     
                        a(href="#") Подробнее
                    a(href="#").ind-services__list-item-btn 
                    .ind-services__list-item-title Онлайн оплата
                    .ind-services__list-item-list 
                        .ind-services__list-item-list-visa 
                            <svg width="108" height="36" viewBox="0 0 108 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M46.7346 35.1822H37.938L43.4358 1.39451H52.2334L46.7346 35.1822ZM30.5376 1.39451L22.1513 24.6339L21.1589 19.6296L21.1598 19.6314L18.1998 4.43671C18.1998 4.43671 17.8419 1.39451 14.027 1.39451H0.162684L0 1.96662C0 1.96662 4.23973 2.84872 9.2016 5.82856L16.8441 35.1831H26.0096L40.0049 1.39451H30.5376ZM99.7281 35.1822H107.805L100.763 1.39361H93.6916C90.4262 1.39361 89.6309 3.9116 89.6309 3.9116L76.5113 35.1822H85.6812L87.5151 30.1634H98.6978L99.7281 35.1822ZM90.0484 23.2303L94.6704 10.5862L97.2707 23.2303H90.0484ZM77.1991 9.51968L78.4544 2.26396C78.4544 2.26396 74.5808 0.790771 70.5426 0.790771C66.1772 0.790771 55.8106 2.69869 55.8106 11.9762C55.8106 20.7051 67.9776 20.8136 67.9776 25.3986C67.9776 29.9835 57.0642 29.162 53.4625 26.2707L52.1547 33.8572C52.1547 33.8572 56.0827 35.7652 62.0839 35.7652C68.0869 35.7652 77.143 32.657 77.143 24.1974C77.143 15.4125 64.8667 14.5945 64.8667 10.7751C64.8676 6.9547 73.4347 7.44546 77.1991 9.51968Z" fill="white"/>
                            </svg>
                        .ind-services__list-item-list-master 
                            .ind-services__list-item-list-master-1 
                            .ind-services__list-item-list-master-2 
                        .ind-services__list-item-list-mir 
                            <svg width="148" height="44" viewBox="0 0 148 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5137 4.77266C24.6773 4.76576 28.1353 4.45712 29.6 9.35609C30.5867 12.6561 32.1584 18.0616 34.3151 25.5727H35.1935C37.5064 17.654 39.0952 12.2485 39.96 9.35609C41.44 4.40609 45.14 4.77275 46.62 4.77275L58.0386 4.77277V39.9727H46.4005V19.2288H45.62L39.1324 39.9727H30.3762L23.8885 19.2134H23.1081V39.9727H11.47V4.77277L23.5137 4.77266ZM74.7506 4.77277V25.5321H75.6791L83.5707 8.46185C85.1026 5.06482 88.3676 4.77277 88.3676 4.77277H99.6298V39.9728H87.7486V19.2134H86.8202L79.0833 36.2837C77.5514 39.6653 74.1317 39.9728 74.1317 39.9728H62.8695V4.77277H74.7506ZM140.696 21.5C139.039 26.1541 133.835 29.4872 128.072 29.4872H115.613V39.9728H104.314V21.5H140.696Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M128.617 4.77281H103.722C104.314 12.6095 111.124 19.3183 118.174 19.3183H141.481C142.826 12.805 138.196 4.77281 128.617 4.77281Z" fill="white"/>
                            </svg>
                li.ind-services__list-item 
                    ul.ind-services__list-item-list 
                        li.ind-services__list-item-list-item
                            .ind-services__list-item-list-item-title 5
                                span лет
                            .ind-services__list-item-list-item-text Гарантийное обслуживание на окна и двери
                        li.ind-services__list-item-list-item
                            .ind-services__list-item-list-item-title 10
                                span лет
                            .ind-services__list-item-list-item-text Гарантия на фурнитуру
                        li.ind-services__list-item-list-item
                            .ind-services__list-item-list-item-title 50 
                                span лет
                            .ind-services__list-item-list-item-text Гарантия на профиль
                    button.ind-services__list-item-btns     
                        a(href="#") Подробнее
                    a(href="#").ind-services__list-item-btn 
                    .ind-services__list-item-title Гарантия и сервис
                li.ind-services__list-item 
                    button.ind-services__list-item-btns     
                        a(href="#") Подробнее
                    a(href="#").ind-services__list-item-btn 
                    .ind-services__list-item-title Рассрочка платежа

    section.ind-constructor
        .containers 
            .ind-constructor-title Калькулятор окон
            .ind-constructor__block
                .ind-constructor__block-tabs 
                    .ind-constructor__block-tabs-items#indexConstructorTabsElement-1.ind-constructor__block-tabs-items-active Окно
                    .ind-constructor__block-tabs-items#indexConstructorTabsElement-2 Балкон
                .ind-constructor__block-window 
                    ul.ind-constructor__block-window-tabs 
                        li.ind-constructor__block-window-tabs-items.ind-constructor__block-window-tabs-items-active#indexConstructorWindowTabsElement-1
                            <svg width="24" height="33" viewBox="0 0 24 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="1" y="1" width="22" height="31" stroke="#286CF0" stroke-width="2"/>
                            </svg>
                        li.ind-constructor__block-window-tabs-items#indexConstructorWindowTabsElement-2
                            <svg width="24" height="33" viewBox="0 0 24 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="1" y="1" width="22" height="31" stroke="#286CF0" stroke-width="2"/>
                            </svg>
                        li.ind-constructor__block-window-tabs-items#indexConstructorWindowTabsElement-3
                            <svg width="24" height="33" viewBox="0 0 24 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="1" y="1" width="22" height="31" stroke="#286CF0" stroke-width="2"/>
                            </svg>
                        li.ind-constructor__block-window-tabs-items#indexConstructorWindowTabsElement-4
                            <svg width="24" height="33" viewBox="0 0 24 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="1" y="1" width="22" height="31" stroke="#286CF0" stroke-width="2"/>
                            </svg>
                    .ind-constructor__block-window-block 
                        .ind-constructor__block-window-block-items
                        .ind-constructor__block-window-block-height 1460
                        .ind-constructor__block-window-block-width 1600
                        .ind-constructor__block-window-block-leafs 
                            select#leaf-1
                                option(value="")
                                option(value="Глухое") Глухое
                                option(value="Поворотное") Поворотное
                                option(value="Откидное") Откидное
                                option(value="Поворотно-откидное") Поворотно-откидное
                            select#leaf-2.display-n
                                option(value="")
                                option(value="Глухое") Глухое
                                option(value="Поворотное") Поворотное
                                option(value="Откидное") Откидное
                                option(value="Поворотно-откидное") Поворотно-откидное

                ul.ind-constructor__block-list#indexConstructorList
                    li.ind-constructor__block-list-items#indexConstructorListElement_1(onclick='checkedPositionClient(this)')
                        .ind-constructor__block-list-items-count
                        .ind-constructor__block-list-items-type 
                            .ind-constructor__block-list-items-type-icons 
                                <svg width="24" height="33" viewBox="0 0 24 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="1" y="1" width="22" height="31" stroke="#286CF0" stroke-width="2"/>
                                </svg>
                            .ind-constructor__block-list-items-type-text 
                                .ind-constructor__block-list-items-type-text-title Створка
                                .ind-constructor__block-list-items-type-text-size 1600*1469 мм
                        .ind-constructor__block-list-items-text#indexConstructorListText_1 Одностворчатое окно (Глухое), Даухкамерный стеклопакет, Алюминий, Кирпичный  
                        button.ind-constructor__block-list-items-basket#indexConstructorBasketListButton_1(value="indexConstructorListElement_1" onclick="indexConstructorRemoveElement(this)")
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.952" height="23.204" viewBox="0 0 18.952 23.204">
                                <g id="trash" transform="translate(0 0)">
                                    <path id="Path_613" data-name="Path 613" d="M18.893,5.186,18.38,3.65a1.429,1.429,0,0,0-1.357-.978H12.717v-1.4A1.272,1.272,0,0,0,11.447,0H7.5a1.272,1.272,0,0,0-1.27,1.271v1.4H1.928A1.429,1.429,0,0,0,.571,3.65L.058,5.186A1.15,1.15,0,0,0,1.149,6.7h.536L2.863,21.275A2.109,2.109,0,0,0,4.953,23.2h9.285a2.109,2.109,0,0,0,2.09-1.929L17.506,6.7h.3a1.15,1.15,0,0,0,1.091-1.513ZM7.593,1.359h3.764V2.672H7.593Zm7.378,19.806a.741.741,0,0,1-.734.679H4.953a.741.741,0,0,1-.734-.679L3.049,6.7H16.142ZM1.441,5.34l.42-1.259a.071.071,0,0,1,.067-.049h15.1a.071.071,0,0,1,.067.049l.42,1.259Zm0,0" transform="translate(0)" fill="#286CF0"/>
                                    <path id="Path_614" data-name="Path 614" d="M268.941,179.19h.036a.68.68,0,0,0,.678-.644l.638-12.255a.68.68,0,1,0-1.358-.071l-.638,12.255A.68.68,0,0,0,268.941,179.19Zm0,0" transform="translate(-256.137 -158.073)" fill="#286CF0"/>
                                    <path id="Path_615" data-name="Path 615" d="M106.463,178.551a.68.68,0,0,0,.678.643h.038a.68.68,0,0,0,.642-.716l-.669-12.255a.68.68,0,0,0-1.358.074Zm0,0" transform="translate(-100.999 -158.075)" fill="#286CF0"/>
                                    <path id="Path_616" data-name="Path 616" d="M194.934,179.193a.68.68,0,0,0,.68-.68V166.259a.68.68,0,0,0-1.36,0v12.255A.68.68,0,0,0,194.934,179.193Zm0,0" transform="translate(-185.451 -158.075)" fill="#286CF0"/>
                                </g>
                            </svg>
                        button.ind-constructor__block-list-items-copy#indexConstructorCopyItems_1(value="indexConstructorListElement_1" onclick="copyElementList(this)")
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="3.5" width="14" height="16" rx="2.5" stroke="#286CF0"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 14V3C18 1.34315 16.6569 0 15 0H6V1H15C16.1046 1 17 1.89543 17 3V14H18Z" fill="#286CF0"/>
                            </svg>
                button.ind-constructor__block-button#indexConstructorButtonAdd
                    .ind-constructor__block-button-icons 
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 3.5L7 10.5" stroke="#286CF0" stroke-width="2" stroke-linecap="round"/>
                            <path d="M10.5 7L3.5 7" stroke="#286CF0" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    .ind-constructor__block-button-text Добавить еще
                button.ind-constructor__block-btn
                    a(href="#") Получить расчет

    @@include('components/_footer.pug')

@@include('components/_script.pug')
