@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.wind-banner 
        .wind-banner__block 
            .wind-banner__block-content 
                .wind-banner__block-content-type Оконная система
                .wind-banner__block-content-title MelkeSMART
                .wind-banner__block-content-text Умная оконная система, сочетающая 
                    br
                    | в себе доступную цену и классическое 
                    br
                    | немецкое качество 60х систем.
                .wind-banner__block-content-price от 3 643 ₽/м²
                button.wind-banner__block-content-btn 
                    a(href="#") Рассчитать стоимость
            .wind-banner__block-photo 

    section.wind-status 
        .containers 
            .wind-status__block 
                .wind-status__block-content 
                    .wind-status__block-content-title Характеристики и особенности системы
                    .wind-status__block-content-text Окна Melke Smart — базовая классическая система 60й серии. Несмотря на свою невысокую цену данная система спроектирована и изготовлена по самым высшим стандартам качества и полностью соответствует высшему классу «А» по теплоизоляции согласно ГОСТ. Четырехкамерный CoEx профиль, двухкамерный энергосберегающий стеклопакет, оригинальные уплотнители — ингредиенты теплой системы для жилого остекления.
                .wind-status__block-photo 
        .wind-status__list 
            .wind-status__list-bg 
            .wind-status__list-wrapper
                .wind-status__list-items 
                    .wind-status__list-items-title Качествен­ный профиль
                    .wind-status__list-items-line 
                    .wind-status__list-items-text Четырёхкамерный CoEx профиль шириной 60 мм спроектирован под самые высокие значения ГОСТ 30673-2013. Внешние стенки толщиной 3 мм, стальное армирование 1,5 мм, стойкий кипельно-белый цвет и жесткость профиля — важнейшие характеристики качества Ваших будущих окон.
                .wind-status__list-items 
                    .wind-status__list-items-title Стеклопакеты Climatherm™
                    .wind-status__list-items-line 
                    .wind-status__list-items-text Окна Smart комплектуются одно или двухкамерными стеклопакетами на Ваш выбор, но уже в стандартной комплектации с функцией энергосбережения. Запатентованные стеклопакеты Climatherm™ значительно теплее за счет использования многослойного теплоотражающего напыления, при этом пропускают УФ излучение, необходимое цветам, живущим на подоконнике.
                .wind-status__list-items 
                    .wind-status__list-items-title Надежная фурнитура
                    .wind-status__list-items-line 
                    .wind-status__list-items-text Мелочей в конструкции окна не бывает. А если говорить о фурнитуре, то это одна из самых важных его частей. Именно от качества фурнитуры в окне зависит мягкость и бесшумность открывания, герметичность и долговечность окон. В окнах Smart двигатель немецкий — фурнитура Siegenia.
                .wind-status__list-items 
                    .wind-status__list-items-title Глаз не режет
                    .wind-status__list-items-line 
                    .wind-status__list-items-text 80% заказов приходится на белые окна. А уплотнительные резинки большинcтво производителей по умолчанию ставят черные. Нам не нравится такой контраст, поэтому в наших окнах по умолчанию стоят более гармоничные серые оригинальные уплотнители Melke.

    section.wind-multi
        .containers
            .wind-multi__block
                .wind-multi__block-photo 
                .wind-multi__block-content 
                    .wind-multi__block-content-title Мульти-функциональный стеклопакет Climatherm™ Solar
                    .wind-multi__block-content-text Особое значение при остеклении коттеджа мы обращаем на выбор стеклопакета. Особенно при большеформатном остеклении от стеклопакета зависит:
                    ul.wind-multi__block-content-list 
                        li.wind-multi__block-content-items 
                            p насколько новые окна будут хорошо сохранять тепло, а значить и экономить деньги собственника на электричестве;
                        li.wind-multi__block-content-items 
                            p насколько сильно будет нагреваться помещение в летний период
                        li.wind-multi__block-content-items 
                            p сколько света проникнет в помещение
                        li.wind-multi__block-content-items 
                            p и наконец, насколько гармонично цвет стекол сочетается с фасадом здания.
                    .wind-multi__block-content-description Для решения всех этих задач отлично подходит запатентованный нами стеклопакет Climatherm™ Solar. Вам остается лишь выбрать цвет стекол, а о комфорте в помещении позаботятся новые окна.

    section.wind-new 
        .containers 
            .wind-new__title Инновационные пластиковые окна Melke
            .wind-new__block
                .wind-new__block-photo 
                .wind-new__block-content
                    .wind-new__block-content-text Коэкструзия на сегодняшний день является наиболее эффективной технологией производства оконного профиля, защищённого практически от любых внешних воздействий. Как показывает анализ, из всех применяемых ныне технологий только метод коэкструзии позволяет создавать продукты, удовлетворяющие всем требованиям к стойкости и долговечности покрытия.
                    .wind-new__block-content-table 
                        .wind-new__block-content-items 
                            .wind-new__block-content-items-line 
                            .wind-new__block-content-items-text Экологичные профили, изготовленные по технологии Co-Ex
                        .wind-new__block-content-items 
                            .wind-new__block-content-items-line 
                            .wind-new__block-content-items-text Высший класс А по теплоизоляции, воздухо и водо- проницаемости
                        .wind-new__block-content-items 
                            .wind-new__block-content-items-line 
                            .wind-new__block-content-items-text Ультраглянцевая поверхность профиля
                        .wind-new__block-content-items 
                            .wind-new__block-content-items-line 
                            .wind-new__block-content-items-text Гарантия 25 лет

    @@include('components/_footer.pug')

@@include('components/_script.pug')
